// -----------------------------------------------------------------------------
// #CONTENT
// -----------------------------------------------------------------------------

.content {
  padding: px-to-rem($content-spacing--phone) 0 px-to-rem($space--xxm);
  min-height: calc(100vh - 440px);

  @include breakpoint('tablet-landscape') {
    padding: px-to-rem($content-spacing--tablet-landscape) 0 px-to-rem($space--xxm);
  }
  @include breakpoint('desktop') {
    padding: px-to-rem($content-spacing--desktop) 0 px-to-rem($space--xxm);
  }

  &--has-image {
    padding: 0 0 px-to-rem($space--xxm);
  }

  &__detail {
    
    &-header {
      display: flex;
      margin: px-to-rem($space--xm) 0;
    }

    &-image {
      flex: 1 0 50%;
    }
  }
}
