// -----------------------------------------------------------------------------
// #FOOTER
// -----------------------------------------------------------------------------

.footer {
  color: $color--white;
  font-size: px-to-rem($font-size-s);

  &--heading {
    font-size: px-to-rem($font-size-xl-p);
    color: $color--white;
  }

  &__top {
    background-color: $color--brown-lightest;
    padding: px-to-rem($space--xm) 0;
    color: $color--black;

    .button--primary {
      margin: 0;

      @include breakpoint('tablet') {
        margin-left: px-to-rem($space--m);
      }
    }

    .form__wrapper {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  &__logo {
    padding: px-to-rem($space--m) 0 px-to-rem($space--m) 0;
    color: $color--text;
    background-color: rgba($color--green-bio, 0.2);

    &-container {
      display: flex;
      flex-direction: column;

      @include breakpoint('tablet') {
        flex-direction: row;
      }
    }

    &-img {
      // max-width: px-to-rem(125);
      margin: 0 px-to-rem($space--xm) px-to-rem($space--m) 0;
      display: flex;
      align-self: flex-start;

      @include breakpoint('tablet') {
        margin-bottom: 0;
      }

      .logo-img {
        aspect-ratio: 1.5 / 1;
        width: 100%;
        object-fit: contain;
        max-height: 5rem;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .heading {
        line-height: $line-height--s;
      }

      .text {
        margin: px-to-rem($space--m) 0 0 0;
        line-height: $line-height--xm;

        @include breakpoint('tablet') {
          margin-top: 0;
        }
      }
    }
  }

  &__middle {
    padding: 0 0 px-to-rem($space--xxm) 0;
    background-color: $color--brown;
  }

  &--contact {
    &__adress {
      color: $color--brown-lighter;
    }

    &__phone {
      .contact__phone,
      .contact__fax {
        display: block;
      }
    }

    &__email {
      margin-top: px-to-rem($space--m);
    }
  }

  &__bottom {
    padding: px-to-rem($space--xm) 0;
    background-color: $color--black;

    .nav__service {
      display: flex;

      &--items {
        margin-right: px-to-rem($space--xm);
      }
    }
  }

  &--box {
    display: flex;
    flex-direction: column;
    height: 100%;

    span {
      display: block;
    }
  }

  &--social {
    margin-top: auto;

    &__list {
      display: flex;
    }

    &__list--item {
      margin-right: px-to-rem($space--m);
    }
  }

  &-list__nav {
    margin-left: px-to-rem($space--m);
    @include breakpoint('tablet') {
      margin-left: 0;
    }

    &-item {
      padding: px-to-rem($space--s) 0;
      @include breakpoint('tablet') {
        padding: px-to-rem($space--xxs) 0;
      }
    }
  }
}
