// -----------------------------------------------------------------------------
// #FOOTER
// -----------------------------------------------------------------------------

.footer {
  color: $color--white;
  font-size: px-to-rem($font-size-s);

  &--heading {
    font-size: px-to-rem($font-size-xl-p);
    color: $color--white;
  }

  &__top {
    background-color: $color--brown-lightest;
    padding: px-to-rem($space--xm) 0;
    color: $color--black;

    .button--primary {
      margin: 0;

      @include breakpoint('tablet') {
        margin-left: px-to-rem($space--m);
      }
    }

    .form__wrapper {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  &__logo {
    padding: px-to-rem($space--xm) 0 px-to-rem($space--m) 0;
    color: $color--text;
    background-color: rgba($color--green-bio, 0.2);
  }

  &__middle {
    padding: 0 0 px-to-rem($space--xxm) 0;
    background-color: $color--brown;
  }

  &--contact {
    &__adress {
      color: $color--brown-lighter;
    }

    &__phone {
      .contact__phone,
      .contact__fax {
        display: block;
      }
    }

    &__email {
      margin-top: px-to-rem($space--m);
    }
  }

  &__bottom {
    padding: px-to-rem($space--xm) 0;
    background-color: $color--black;

    .nav__service {
      display: flex;

      &--items {
        margin-right: px-to-rem($space--xm);
      }
    }
  }

  &--box {
    span {
      display: block;
    }
  }
}
