// -----------------------------------------------------------------------------
// #FOOTER
// -----------------------------------------------------------------------------

.footer {
  background-color: $color--brown;
  display: flex;
  color: $color--white;

  &--box {
    width: 25%;
  }
  &--heading {
    color:$color--white;
  }
}
