

// CLASSES
.grid {
  display: table-cell;
}



.logo {
  width: 25%;
  float: left;
  @supports (display: grid) {
  grid-column: col / span 1;
  grid-row: row ;
  background-color: #add8e6;
  }
}
.header {
  width: 75%;
  float: left;
  @supports (display: grid) {
  grid-column: col 2 / span 3 ;
  grid-row: row ;
  background-color: #f08080;
  }
}
.sidebar {
  width: 25%;
  float: left;
  @supports (display: grid) {
  grid-column: col ;
  grid-row: row 2 ;
  background-color: #fafad2;
  }
}
.main {
  width: 75%;
  float: left;
  @supports (display: grid) {
  grid-column: col 2 / span 3 ;
  grid-row: row 2 ;
  background-color: #90ee90;
  }
}

.footer {
  width: 100%;
  
  @supports (display: grid) {
  grid-column: col / span 4;
  grid-row: row 3;
  background-color: #ffa07a;
  }
}

.grid {
  @supports (display: grid) {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, [col] 25% ) ;
  grid-template-rows: repeat(3, [row] auto  );
  background-color: #fff;
  color: #444;

  > * {
    width: 100%;
    float: none;
  }
  }
}
