
$grid-phone-sideMargin: px-to-rem($grid__space-outer-padding-horizontal--phone);
$grid-phone-gutter: px-to-rem($grid__space-gutter--phone);

// tablet grid
$grid-tablet-sideMargin: px-to-rem(
  $grid__space-outer-padding-horizontal--tablet
);
$grid-tablet-gutter: px-to-rem($grid__space-gutter--tablet);

// desktop grid
$grid-desktop-sideMargin: px-to-rem(
  $grid__space-outer-padding-horizontal--desktop
);
$grid-desktop-gutter: px-to-rem($grid__space-gutter--desktop);


// CLASSES
.grid {
  // $this: &;

  display: table-cell;

  max-width: px-to-rem($container--max-width);
  margin: 0 auto;

  padding-left: $grid-phone-sideMargin;
  padding-right: $grid-phone-sideMargin;

  @include breakpoint('tablet-landscape') {
    padding-left: $grid-tablet-sideMargin;
    padding-right: $grid-tablet-sideMargin;
  }
  @include breakpoint('desktop') {
    padding-left: $grid-desktop-sideMargin;
    padding-right: $grid-desktop-sideMargin;
  }
}



.logo {
  width: 25%;
  float: left;
  background-color: #add8e6;
  @supports (display: grid) {
  grid-column: col / span 1;
  grid-row: row ;
  }
}
.header {
  width: 75%;
  float: left;
  background-color: #f08080;
  @supports (display: grid) {
  grid-column: col 2 / span 3 ;
  grid-row: row ;
  }
}
.sidebar {
  width: 25%;
  float: left;
  background-color: #fafad2;
  @supports (display: grid) {
  grid-column: col ;
  grid-row: row 2 ;
  }
}
.main {
  width: 75%;
  float: left;
  background-color: #90ee90;
  @supports (display: grid) {
  grid-column: col 2 / span 3 ;
  grid-row: row 2 ;
  
  .page--home & {
    grid-column: col 1 / span 4 ;

  }
  }
}

.footer {
  width: 100%;
  background-color: #ffa07a;
  
  @supports (display: grid) {
  grid-column: col / span 4;
  grid-row: row 3;
  }
}

.grid {
  @supports (display: grid) {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(4, [col] 25% ) ;
  grid-template-rows: repeat(3, [row] auto  );
  background-color: #fff;
  color: #444;

  > * {
    width: 100%;
    float: none;
  }
  }
}
