

// CLASSES
.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, [col] 25% ) ;
  grid-template-rows: repeat(3, [row] auto  );
  background-color: #fff;
  color: #444;
}

.logo {
  grid-column: col / span 1;
  grid-row: row ;
  background: lightblue
}
.header {
  grid-column: col 2 / span 3 ;
  grid-row: row ;
  background: lightcoral;
}
.sidebar {
  grid-column: col ;
  grid-row: row 2 ;
  background: lightgoldenrodyellow
}
.main {
  grid-column: col 2 / span 3 ;
  grid-row: row 2 ;
  background: lightgreen
}

.footer {
  grid-column: col / span 4;
  grid-row: row 3;
  background: lightsalmon;
}
