/* margin vertical none */
.layout-helper__margin-vertical--none {
  margin-top: 0;
  margin-bottom: 0;
}

.layout-helper__margin-top--none {
  margin-top: 0;
}

.layout-helper__margin-bottom--none {
  margin-bottom: 0;
}

/* margin vertical xs */
.layout-helper__margin-vertical--xxs {
  margin-top: px-to-rem($space--m);
  margin-bottom: px-to-rem($space--m);
}

.layout-helper__margin-top--xxs {
  margin-top: px-to-rem($space--m);
}

.layout-helper__margin-bottom--xxs {
  margin-bottom: px-to-rem($space--m);
}

/* margin vertical xs */
.layout-helper__margin-vertical--xs {
  margin-top: px-to-rem($space--xm);
  margin-bottom: px-to-rem($space--xm);
}

.layout-helper__margin-top--xs {
  margin-top: px-to-rem($space--xm);
}

.layout-helper__margin-bottom--xs {
  margin-bottom: px-to-rem($space--xm);
}

/* margin vertical s */
.layout-helper__margin-vertical--s {
  margin-top: px-to-rem($space--xm);
  margin-bottom: px-to-rem($space--xm);

  @include breakpoint('tablet') {
    margin-top: px-to-rem($space--xxm);
    margin-bottom: px-to-rem($space--xxm);
  }
}

.layout-helper__margin-top--s {
  margin-top: px-to-rem($space--xm);

  @include breakpoint('tablet') {
    margin-top: px-to-rem($space--xxm);
  }
}

.layout-helper__margin-bottom--s {
  margin-bottom: px-to-rem($space--xm);

  @include breakpoint('tablet') {
    margin-bottom: px-to-rem($space--xxm);
  }
}

/* margin vertical m */
.layout-helper__margin-vertical--m {
  margin-top: px-to-rem($space--xxm);
  margin-bottom: px-to-rem($space--xxm);

  @include breakpoint('tablet') {
    margin-top: px-to-rem($space--l);
    margin-bottom: px-to-rem($space--l);
  }
}

.layout-helper__margin-top--m {
  margin-top: px-to-rem($space--xxm);

  @include breakpoint('tablet') {
    margin-top: px-to-rem($space--l);
  }
}

.layout-helper__margin-bottom--m {
  margin-bottom: px-to-rem($space--xxm);

  @include breakpoint('tablet') {
    margin-bottom: px-to-rem($space--l);
  }
}

/* margin vertical l */
.layout-helper__margin-vertical--l {
  margin-top: px-to-rem($space--l);
  margin-bottom: px-to-rem($space--l);

  @include breakpoint('tablet') {
    margin-top: px-to-rem($space--xxl);
    margin-bottom: px-to-rem($space--xxl);
  }
}

.layout-helper__margin-top--l {
  margin-top: px-to-rem($space--l);

  @include breakpoint('tablet') {
    margin-top: px-to-rem($space--xxl);
  }
}

.layout-helper__margin-bottom--l {
  margin-bottom: px-to-rem($space--xl);

  @include breakpoint('tablet') {
    margin-bottom: px-to-rem($space--xxl);
  }
}

/* margin vertical xl */
.layout-helper__margin-vertical--xl {
  margin-top: px-to-rem($space--xl);
  margin-bottom: px-to-rem($space--xl);

  @include breakpoint('tablet') {
    margin-top: px-to-rem($space--xxxl);
    margin-bottom: px-to-rem($space--xxxl);
  }
}

.layout-helper__margin-top--xl {
  margin-top: px-to-rem($space--xl);

  @include breakpoint('tablet') {
    margin-top: px-to-rem($space--xxxl);
  }
}

.layout-helper__margin-bottom--xl {
  margin-bottom: px-to-rem($space--xl);

  @include breakpoint('tablet') {
    margin-bottom: px-to-rem($space--xxxl);
  }
}

.layout-helper__width-100 {
  width: 100%;
}


// Horizontal Helper Classes GRID

.col-lg-shift-helper-4 {
  margin-right: -33.3333%;
}
