// -----------------------------------------------------------------------------
// #ACCORDION
// -----------------------------------------------------------------------------

$accordion__icon-size: px-to-rem(24);

//transition
$accordion--transition-property-max-height: max-height;
$accordion--transition-property-transform: transform;
$accordion--transition-duration: speed();
$accordion--transition-timing-function: easing(open);

.cart-box__select {

  border: 2px solid transparent;
  padding: px-to-rem($space--m);
  border-radius: 3px;

  &:has(input[type="radio"]:checked) {
    background-color: rgba(104, 138, 161, 0.35);
    border: 2px solid $color--blue;

  }

  &:hover {
    background-color: rgba(104, 138, 161, 0.35);
    border: 2px solid $color--blue;
  }

  background-color: $color--grey-lightest;
  margin: 0 0 px-to-rem($space--m) 0;

  &-label {
    position: relative;
    display: flex;
    gap: px-to-rem($space--s);
    margin-bottom: px-to-rem($space--m);
    align-items: baseline;

    &:hover {
      cursor: pointer;
    }
  }

  &-radio {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;

    @include breakpoint('tablet') {
      flex-direction: row;
    }

    .input-radio,
    input[type="radio"] {
      margin: px-to-rem($space--s) 0 0 0;
    }

    .address-list {
      margin: 0 0 0 px-to-rem($space--s);
    }
  }

  &-hint {
    display: flex;
    flex-direction: column;
    align-self: end;
  }
}


.cart-container__checkboxes {
  margin: px-to-rem($space--m) 0;
  padding: px-to-rem($space--m) 0 0 0;
  border-top: 1px solid $color--grey-lighter;
}

.add-address-info {
  margin: px-to-rem($space--s) 0 px-to-rem($space--xm) 0;

  &__text {
    line-height: $line-height--s;
    font-size: px-to-rem($font-size-s);
  }
}

.adress-item {
  &__marker {
    display: flex;
    margin-top: px-to-rem($space--s);
    align-items: center;
  }

  &__buttons {
    margin-left: auto;
  }
}
