$hintSize: px-to-rem(176);
$hintSizeMobile: px-to-rem(90);

@keyframes discount10 {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  43.33% {
    opacity: 1;
  }
  47.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#order-hints > * {
  animation: 12s discount10 infinite linear;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

#order-hints > *:nth-child(1) {
  animation-delay: 0s;
}

#order-hints > *:nth-child(2) {
  animation-delay: 6s;
}

.order-hints {
  background-color: $color--orange-light;
  text-align: center;
  margin: px-to-rem($space--m) 0;
  position: relative;

  &.desktop {
    display: none;
    @include breakpoint('tablet') {
      display: block;
      height: $hintSize;
      width: $hintSize;
    }
  }

  &.mobile {
    display: block;
    height: $hintSizeMobile;
    width: 100%;
    @include breakpoint('tablet') {
      display: none;
    }
  }

  &__discount {
    padding: px-to-rem($space--s);
    @include breakpoint('tablet') {
      padding: px-to-rem($space--m);
    }
  }

  &__discount--heading {
    font-weight: 700;
    margin: 0;
    font-size: px-to-rem($font-size-xm);
  }

  &__discount--text {
    line-height: $line-height--s;
    margin: 0;
    @include breakpoint('tablet') {
      line-height: $line-height--xm;
      margin: px-to-rem($space--m) 0;
    }
  }

  &__discount--mark {
    font-size: px-to-rem($font-size-xxs);
    line-height: $line-height--m;
    hyphens: auto;
    margin: 0;
    @include breakpoint('tablet') {
      line-height: $line-height--xm;
      margin: px-to-rem($space--m) 0;
    }
  }

  &__shipping {
    padding: px-to-rem($space--m);
    display: flex;
    justify-content: center;
  }

  &__shipping--text {
    font-size: px-to-rem($font-size-l);
    color: $color--white;
    margin: 0;
    align-self: center;
    line-height: $line-height--m;
  }
}

// loading svg
.loading-button {
  $this: &;

  display: flex;
  align-items: center;
  gap: get-spacing(small-3);

  &__indicator {
    &--loading,
    &--loading-shop {
      #{$this}__spinner {
        display: inline;
      }

      #{$this}__check {
        display: none;
      }
    }
  }

  /*  &__spinner {
      display: none;
    }*/
}
