.bis {
  &-signup__registration-form {
    margin-bottom: px-to-rem($space--xm);
  }

  &-signup__complete-message {
    background-color: $color--green;
    padding: px-to-rem($space--m);
    color: $color--white;

    p {
      margin-top: 0;
    }
  }

  &-signup__registration-fields {
    display: flex;
  }

  &-signup__registration-btn {
    margin-left: px-to-rem($space--s);
  }
}

.oos {
  position: relative;
  z-index: 1;

  .shop-list__listview & {
    order: 3;
    flex: 0 1 180px;
    margin: 0 px-to-rem($space--m) 0 0;
  }

  &-message {
    font-size: px-to-rem($font-size-s);
    color: $color--white;
    background-color: $color--red;
    position: absolute;
    width: 100%;
    padding: px-to-rem($space--s);
    text-align: center;
    top: px-to-rem(120);

    .shop-list__listview & {
      top: 0;
    }
  }
}
