
.breadcrumb {


  ul {
    display: flex;
    margin-bottom: px-to-rem($space--m);

    li {
      color: rgba($color--text, 0.6);
      
      a {
        position: relative;

     
      }

      &:not(:last-child ){
        margin-right: px-to-rem($space--xm);
      }

      &.is-active {
        color: $color--text;
        position: relative;


        &:after,
        &:before { 
          position: absolute;
        left: -22px;
        top: 60%;
        background: rgba($color--text, 0.6);
        content: '';
        height: 2px;
        width: 10px;
        transform: rotate(-45deg);
      }
      
      &:before {
          transform: rotate(45deg);
          top: 37%;

        }
      }
    }
  }
}
