
.breadcrumb {


  ul {
    display: flex;
    margin-bottom: px-to-rem($space--m);

    li {
      color: rgba($color--text, 0.6);
      
      a {
        position: relative;
      }

      &:not(:last-child ){
        margin-right: px-to-rem($space--xm);
      }

      &.is-active {
        color: $color--text;
        position: relative;
      }

      &:not(:first-child ){
        a {
          &:after,
          &:before { 
          position: absolute;
          left: -22px;
          top: 60%;
          background: rgba($color--text, 0.6);
          content: '';
          height: 1px;
          width: 7px;
          transform: rotate(-50deg);
        }
        
        &:before {
            transform: rotate(50deg);
            top: 44%;
          }
        }
      }
    }
  }
}
