.test {
  visibility: collapse;
  display: none;
}

.checkout__steps {
  width: 100%;

  margin: px-to-rem($space--xm) 0 0 0;

  &--button {
    display: flex;
    justify-content: flex-end;
  }

  /*show weiter Button, if at least one shipping method is choosen*/
  &--button-hidden {
    /*    visibility: collapse;
        display: none;*/
  }
}

#shippingMethodHandle:checked + .hidden {
  visibility: visible;
  display: block;
}

//EMAIL FORM
.checkout__box {
  &--email-form {
    display: flex;
    flex-direction: column;

    @include breakpoint('tablet') {
      /*flex-direction: row;*/
    }
  }

  &--email-form-container {
    display: flex;
    flex-direction: column;
    margin: px-to-rem($space--m) 0;
  }

}

.checkout {
  &__box {
    padding: px-to-rem($space--xm);
    background-color: $color--grey-lightest;
  }

  &__box-summary {
    h3 {
      font-size: px-to-rem($font-size-xm);
    }
  }

  &__box--adresses {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include breakpoint('tablet') {
      flex-direction: row;
    }
  }

  &__box--subheading {
    text-decoration: underline;
    margin: px-to-em($space--m) 0 px-to-em($space--s) 0;
  }

  &__box--section {
    padding: px-to-rem($space--xs) 0 px-to-rem($space--m) 0;
    border-bottom: 1px solid $color--grey-light;
  }

  &__box--button {
    display: flex;
    justify-content: flex-end;
    margin: px-to-rem($space--m) 0 0 0;
  }

  &__box--button-change {
    display: flex;
    justify-content: flex-end;
    padding: px-to-rem($space--m) 0 0 0;
    margin: px-to-rem($space--m) 0 0 0;
    border-top: 1px solid $color--grey-light;
  }

  &__box--adjustments-detail {
    font-size: px-to-rem($font-size-s);
    margin: px-to-rem($space--s) 0;

    .special-font-size {
      margin: 0 0 px-to-rem($space--m) 0;
      display: block;
      font-size: px-to-rem($font-size-m);

    }
  }

  &__box--requirements {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .requirements__links {
      text-decoration: underline;
    }

    .requirements__label {
      display: flex;
      align-items: center;
      margin: 0 0 px-to-rem($space--m) 0;
    }

    .requirements__checkbox {
      margin: 0 0 0 px-to-rem($space--m);
    }
  }
}

// order summary
// adress List

.address-list {
  &__item {
    line-height: $line-height--xm;
  }
}

.forms__checkout--link {
  visibility: visible;
  display: block;
}

/* Show hidden content when the checkbox is checked */
#billingAddressSameAsShipping:checked ~ .forms__checkout--link {
  visibility: collapse;
  display: none;
}

// Setting shippingadress

.adress-container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 px-to-rem($space--m) 0;

  .radio-container {
    flex: 1;
    margin: 0 px-to-rem($space--m) 0 0;
  }
}
