.checkout__steps {
  width: 100%;

  margin: px-to-rem($space--xm) 0 0 0;
  
  &--button {
    display: flex;
    justify-content: flex-end;
  }
}


.checkout {

  &__box {
    padding: px-to-rem($space--xm);
    background-color: $color--grey-lightest;
  }

  &__box-summary {
    h3 {
      font-size: px-to-rem($font-size-xm);
    }
  }

  &__box--section {
    padding: px-to-rem($space--xs) 0 px-to-rem($space--m) 0;
    border-bottom: 1px solid $color--grey-light;
  }

  &__box--button {
    display: flex;
    justify-content: flex-end;
    margin: px-to-rem($space--m) 0 0 0;
  }

  &__box--requirements {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .requirements__links {
      text-decoration: underline;
    }

    .requirements__label {
      display: flex;
      align-items: center;
      margin: 0 0 px-to-rem($space--m) 0;
    }

    .requirements__chekcbox {
      margin: 0 0 0 px-to-rem($space--m);
    }
  }
}
