dt {
  float: none;
  clear: left;
  width: 100%;
  text-align: left;
  font-weight: bold;

  @include breakpoint('tablet-landscape') {
    text-align: right;
    width: 170px;
    float: left;
  }
}

dt::after {
  content: ":";
  color: $color--grey-light;
}

dd {
  margin: 0;
  padding: 0 0 px-to-rem($space--xm) 0;

  @include breakpoint('tablet-landscape') {
    padding: 0 0 px-to-rem($space--m) 0;
    margin: 0 0 0 180px;
  }

  p {
    margin: 0;
  }
}
