// -----------------------------------------------------------------------------
// #FORMATTED TEXT (e.g. for WYSIWYG-Editoren)
// -----------------------------------------------------------------------------
.#{$formatted-text-class} {
  overflow-x: auto;

  & > * {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    cursor: pointer;
    padding-bottom: 1px;
    color: $color--blue;
    line-height: $line-height--s;

    &:empty {
      display: none;
    }
  }

  & p {
    line-height: $line-height--xxm;
  }

  & table {
    p {
      margin: 0 0 px-to-rem($space--m) 0;
      line-height: $line-height--s;
    }

    li {
      line-height: $line-height--s;
      margin: 0 0 px-to-rem($space--m) 0;
    }

    tr {
      border-bottom: 1px solid $color--grey-lighter;
    }

    td {
      vertical-align: top;
      border-right: 1px solid $color--grey-lighter;
      padding: px-to-rem($space--s);
      min-width: px-to-rem(180);
    }
  }

}
