// -----------------------------------------------------------------------------
// #FORMATTED TEXT (e.g. for WYSIWYG-Editoren)
// -----------------------------------------------------------------------------
.#{$formatted-text-class} {
  & > * {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    cursor: pointer;
    padding-bottom: 1px;

    &:empty {
      display: none;
    }
  }
}
