$heading--color: $color--black;

.heading {
  display: block;
}

.heading,
h1,
h2,
h3,
h4 {
  @include typo(heading);
  color: $color--headings;
  word-break: break-word;
  hyphens: auto;
}

h1,
.heading--1 {
  @include typo(h1);
  margin: 0 0 px-to-rem($space--xm);

  @include breakpoint('tablet') {
    margin: 0 0 px-to-rem($space--xm);
  }
}

h2,
.heading--2 {
  @include typo(h2);
  // @include clamp('font-size', 12px, 3vw, px-to-rem(30));
  margin: px-to-rem($space--xxm) 0 px-to-rem($space--m);
  font-weight: $font-weight--semi-bold;

  @include breakpoint('tablet') {
    margin: px-to-rem($space--xm) 0 px-to-rem($space--m);
  }
}

h3,
.heading--3 {
  @include typo(h3);
  margin: px-to-rem($space--xm) 0 px-to-rem($space--m);

  @include breakpoint('tablet') {
    margin: px-to-rem($space--xxm) 0 px-to-rem($space--m);
  }
}

h4,
.heading--4 {
  @include typo(h4);
  margin: px-to-rem($space--xm) 0 px-to-rem($space--m);

  @include breakpoint('tablet') {
    margin: px-to-rem($space--xxm) 0 px-to-rem($space--m);
  }
}

.heading--site {
  font-weight: $font-weight--semi-bold;
}

.heading--no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.heading--no-margin-top {
  margin-top: 0;
}

.heading--no-margin-bottom {
  margin-bottom: 0;
}
