$maxtrix-image-gap: px-to-rem($space--m);

.image {
  &--half {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: px-to-rem($space--xm);

    @include breakpoint('tablet') {
      flex: 0 0 calc(50% - #{$maxtrix-image-gap});
      max-width: 50%;
    }
  }

  &--one-third {
    flex: 0 0 100%;
    max-width: 100%;
    align-self: flex-start;
    margin-bottom: px-to-rem($space--xm);

    @include breakpoint('tablet-landscape') {
      flex: 0 0 30%;
      margin: 0 px-to-rem($space--xm) 0 0;
      max-width: 30%;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;

    .product-detail__image & {
      justify-content: center;
    }

    @include breakpoint('tablet-landscape') {
      justify-content: center;
    }
  }

  &__img {
    display: flex;
    max-width: 100%;
    height: auto;
  }

  &__caption {
    @include typo(caption);

    margin-top: px-to-rem($space--xxs);
  }


  &-matrix__container {
    display: flex;
    flex-wrap: wrap;
    gap: px-to-rem($space--m);

    .image--half {
      margin: 0;
    }


  }
}
