.image-text {
  display: flex;
  flex-direction: column;
  margin-bottom: px-to-rem($space--xm);

  @include breakpoint('tablet-landscape') {
    margin-bottom: 0;
    flex-direction: row;
  }

  &__bg {
    padding: px-to-rem($space--m);
  }

  &__image {
    margin-bottom: px-to-rem($space--m);

    @include breakpoint('tablet-landscape') {
      margin-right: px-to-rem($space--xxm);
      margin-bottom: 0;
    }
  }

  &__text {
    @include lhCrop(1.8);
  }

  &__title {
    &--desktop {
      font-size: px-to-rem($font-size-xm);
      line-height: $line-height--xm;
      @include lhCrop(0.5);
    }
  }
}

.infobox {
  > .image-text {
    background-color: $color--white;
    color: $color--black;
    padding: px-to-rem($space--m);
  }
}
