// -----------------------------------------------------------------------------
// #INPUTS
// -----------------------------------------------------------------------------

/**
 * Globals
 */

// typo - if you change this, don't forget to change it in `css/utils/_typography.scss`
$input--font-size: $font-size--base;

// general
$input--display: block;
$input--max-width: 300px;
$input--width-small: 100px;
$input--width-xsmall: 65px;
$input--height: null;

// padding
$input--padding-vertical: px-to-em(12, $input--font-size);
$input--padding-horizontal: px-to-em(8, $input--font-size);

// textarea specials
$textarea--display: block;
$textarea--width: 100%;
$textarea--height: null;
$textarea--padding-vertical: px-to-em(12, $input--font-size);
$textarea--padding-horizontal: px-to-em(8, $input--font-size);

// colors
$button-primary--color: $color--white;
$button-primary--background-color: $color--primary;
$button-primary--border-color: $color--primary;

.input {
  @include inputStyles();
  width: $input--max-width;
  display: block;
  padding: $input--padding-vertical $input--padding-horizontal;

  @if (has($input--height)) {
    height: $input--height;
  }

  &-small {
    width: $input--width-small;
  }
  &-xsmall {
    width: $input--width-xsmall;
  }
}

.newsletter__form input[type='text'],
.newsletter__form input[type='email'] {
  @include inputStyles();
  width: $input--max-width;
  padding: $input--padding-vertical $input--padding-horizontal;

  @if (has($input--height)) {
    height: $input--height;
  }

  margin: 0 0 px-to-rem($space--s) 0;
}


input[type='submit'].input {
  width: auto;
  display: block;
  &.input__primary {
    padding: $button-primary--horizontal-padding
    $button-primary--vertical-padding;

    @if (has($button-primary--background-color)) {
      background-color: $button-primary--background-color;
    }
    @if (has($button-primary--color)) {
      color: $button-primary--color;
    }
    @if (has($button-primary--border-radius)) {
      border-radius: $button-primary--border-radius;
    }
    @if (has($button-primary--border-width)) {
      border: $button-primary--border-width solid $button-primary--border-color;
    }
  }

  &.input__secondary {
    padding: $button-secondary--horizontal-padding
      $button-secondary--vertical-padding;

    @if (has($button-secondary--background-color)) {
      background-color: $button-secondary--background-color;
    }
    @if (has($button-secondary--color)) {
      color: $button-secondary--color;
    }
    @if (has($button-secondary--border-radius)) {
      border-radius: $button-secondary--border-radius;
    }
    @if (has($button-secondary--border-width)) {
      border: $button-secondary--border-width
        solid
        $button-secondary--border-color;
    }
  }
}

input[type='radio']{
  position: relative;
  right: 0;
  &:checked {
    background-color:$color--primary;
    height: 20px;
    border-radius: 9999px;
    display: flex;
    width: 20px;
    position: relative;
    left: 0;
    z-index: 100;
    margin: 0 px-to-rem($space--m);
   
  }
}


.textarea {
  @include inputStyles();
  padding: $textarea--padding-vertical $textarea--padding-horizontal;
  width: $textarea--width;

  @if (has($textarea--height)) {
    height: $textarea--height;
  }
}

.select {
  @include inputStyles();
  width: $input--max-width;

  appearance: none;
  cursor: pointer;
  padding: $input--padding-vertical $input--padding-horizontal;

  @if (has($input--height)) {
    height: $input--height;
  }
}
