// -----------------------------------------------------------------------------
// #INPUTS
// -----------------------------------------------------------------------------

/**
 * Globals
 */

// typo - if you change this, don't forget to change it in `css/utils/_typography.scss`
$input--font-size: $font-size--base;

// general
$input--display: block;
$input--max-width: 100%;
$input--height: null;

// padding
$input--padding-vertical: px-to-em(12, $input--font-size);
$input--padding-horizontal: px-to-em(8, $input--font-size);

// textarea specials
$textarea--display: block;
$textarea--width: 100%;
$textarea--height: null;
$textarea--padding-vertical: px-to-em(12, $input--font-size);
$textarea--padding-horizontal: px-to-em(8, $input--font-size);

// colors
$button-primary--color: $color--white;
$button-primary--background-color: $color--primary;
$button-primary--border-color: $color--primary;

.input {
  @include inputStyles();
  width: $input--max-width;
  padding: $input--padding-vertical $input--padding-horizontal;

  @if (has($input--height)) {
    height: $input--height;
  }

 
}

input[type='submit'].input {
  &__form {
    padding: $button-primary--horizontal-padding
    $button-primary--vertical-padding;

    @if (has($button-primary--background-color)) {
      background-color: $button-primary--background-color;
    }
    @if (has($button-primary--color)) {
      color: $button-primary--color;
    }
    @if (has($button-primary--border-radius)) {
      border-radius: $button-primary--border-radius;
    }
    @if (has($button-primary--border-width)) {
      border: $button-primary--border-width solid $button-primary--border-color;
    }

  }
}


.textarea {
  @include inputStyles();
  padding: $textarea--padding-vertical $textarea--padding-horizontal;
  width: $textarea--width;

  @if (has($textarea--height)) {
    height: $textarea--height;
  }
}

.select {
  @include inputStyles();
  width: $input--max-width;

  appearance: none;
  cursor: pointer;
  padding: $input--padding-vertical $input--padding-horizontal;

  @if (has($input--height)) {
    height: $input--height;
  }
}
