// General List style

// typo - if you change this, don't forget to change it in `css/utils/_typography.scss`
$list__margin-vertical: px-to-rem($space--xm);

$list__item-vertical-padding: px-to-rem(3);
$list__item-icon-text-distance: px-to-rem(6);

$list__ul-item-icon-vertical-offset: px-to-rem(14);
$list__ul-item-icon-height: px-to-rem(1);
$list__ul-item-icon-width--level-0: px-to-rem(12);
$list__ul-item-icon-width--level-1: $list__ul-item-icon-width--level-0 / 2;
$list__ul-item-offset-left--level-0: $list__ul-item-icon-width--level-0 +
  $list__item-icon-text-distance;
$list__ul-item-offset-left--level-1: $list__ul-item-icon-width--level-1 +
  $list__item-icon-text-distance;

$list__ol-item-counter-width--level-0: px-to-rem(18);
$list__ol-item-counter-width--level-1: px-to-rem(30);
$list__ol-item-offset-left--level-0: $list__ol-item-counter-width--level-0 +
  $list__item-icon-text-distance;
$list__ol-item-offset-left--level-1: $list__ol-item-counter-width--level-1 +
  $list__item-icon-text-distance;

$list__check-item-icon-width: px-to-rem(24);

// UL & OL styles
.list,
.list ol,
.list ul,
{
  margin: $list__margin-vertical 0;
  list-style-type: none;

  li {
    padding-top: $list__item-vertical-padding;
    padding-bottom: $list__item-vertical-padding;

    &:before {
      content: '';
      float: left;
      flex-grow: 0;
      flex-shrink: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    ul,
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }

    a {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

.list,
.list ul {
  li {
    padding-left: $list__ul-item-icon-width--level-0 +
      $list__item-icon-text-distance;

    &:before {
      height: $list__ul-item-icon-height;
      width: $list__ul-item-icon-width--level-0;
      margin-top: $list__ul-item-icon-vertical-offset;
      margin-right: $list__item-icon-text-distance;
      margin-left: -$list__ul-item-offset-left--level-0;
      background-color: currentColor;
    }

    li {
      padding-left: $list__ul-item-icon-width--level-1 +
        $list__item-icon-text-distance;

      &:before {
        width: $list__ul-item-icon-width--level-1;
        margin-left: -$list__ul-item-offset-left--level-1;
      }
    }
  }
}

.list--ordered,
.list--ordered ol,
{
  list-style: none;
  counter-reset: li;

  li {
    counter-increment: li;
    padding-left: $list__ol-item-counter-width--level-0 +
      $list__item-icon-text-distance;

    &:before {
      content: counters(li, '.') '.';
      min-width: $list__ol-item-counter-width--level-0;
      margin-left: -$list__ol-item-offset-left--level-0;
      margin-right: $list__item-icon-text-distance;
      text-align: right;
    }

    li {
      padding-left: $list__ol-item-counter-width--level-1 +
        $list__item-icon-text-distance;

      &:before {
        min-width: $list__ol-item-counter-width--level-1;
        margin-left: -$list__ol-item-offset-left--level-1;
      }
    }
  }
}
