$nav-main--list-gradient-start: $color--blue-gradient-start;
$nav-main--list-gradient-end: $color--blue-gradient-end;

$nav-main--flyout-title-margin-bottom: px-to-rem($space--xm);
$nav-main--flyout-list-padding: px-to-rem($space--m) 0;
$nav-main--flyout-list-gutter: px-to-rem($space--m);
$nav-main--flyout-button-horizontal-padding-phone: px-to-rem(
    $grid__space-outer-padding-horizontal--phone
);
$nav-main--flyout-button-horizontal-padding-desktop: px-to-rem(
    $grid__space-outer-padding-horizontal--tablet
);
$nav-main--flyout-button-horizontal-padding-two-third: px-to-rem(
    1.5 * $grid__space-outer-padding-horizontal--tablet
);

$nav-main--flyout-transition-delay: 0.2s;
$nav-main--flyout-transtion-property: opacity, visibility, transform;
$nav-main--flyout-transition-duration: speed(open);
$nav-main--flyout-transition-timing: easing(open);

$nav-main--button-list--carret-transition-duration: speed(hover);
$nav-main--button-list--carret-transition-properties: transform;
$nav-main--button-list--carret-transition-easing: easing(open);


// -----------------------------------------------------------------------------
// #NAVIGATION
// -----------------------------------------------------------------------------
.nav {
  $this: &;

  &__link {

    &:hover {
      border-bottom: 1px solid $color--text;
      padding-bottom: px-to-rem($space--xs);
    }

    &--is-active {
      border-bottom: 1px solid $color--text;
      padding-bottom: px-to-rem($space--xs);
    }
  }

  &-main {
    background-color: $color--white;
    padding: 0 0 0 px-to-rem($space--xm);
    display: flex;
    flex-direction: column;
    // height: px-to-rem(65);
    // margin-left: px-to-rem($space--xm);
    //width: 100%;


    .header--sticky & {
      // padding-top: px-to-rem(($space--s));
    }

    &__list {
      display: flex;
      align-items: baseline;
      // justify-content: flex-end;

      &-item {
        &:not(:last-child) {
          margin-right: px-to-rem($space--xm);
          align-self: center;
        }

        //&:last-child {
        //  margin-left: auto;
        //  font-size: px-to-rem(15);
        //  height: 100%;
        //  display: flex;
        //}
      }
    }
  }

  &-service {
    //height: 100%;
    background-color: $color--white;
    font-size: px-to-rem(15);
    display: flex;

    &__list {
      display: flex;
      align-items: center;

      &-item {
        position: relative;

        &:not(:last-child) {
          margin-right: px-to-rem($space--xm);
        }

        &-shop {
          position: relative;
          background-color: $color--white;
          cursor: pointer;
          top: px-to-rem($space--s);
          margin: 0;
          left: 0;
          padding: px-to-rem($space--s);
          @include breakpoint('tablet-landscape') {
            top: 0;
          }
        }

        &-cartsize {
          position: absolute;
          left: (px-to-rem($space--m) + px-to-rem($space--m));
          border-radius: 50%;
          top: 0;
          font-size: px-to-rem(10);
          padding: px-to-rem(4) px-to-rem($space--s);
          margin: -(px-to-rem($space--s)) 0 -(px-to-rem($space--s)) 0;
          background-color: $color--primary;
          color: $color--white;

          @include breakpoint('tablet-landscape') {
            right: 0;
            left: inherit;
          }
        }

        .currentuser {
          display: inline-block;
        }
      }
    }
  }
}
