$nav-main--list-gradient-start: $color--blue-gradient-start;
$nav-main--list-gradient-end: $color--blue-gradient-end;

$nav-main--flyout-title-margin-bottom: px-to-rem($space--xm);
$nav-main--flyout-list-padding: px-to-rem($space--m) 0;
$nav-main--flyout-list-gutter: px-to-rem($space--m);
$nav-main--flyout-button-horizontal-padding-phone: px-to-rem(
  $grid__space-outer-padding-horizontal--phone
);
$nav-main--flyout-button-horizontal-padding-desktop: px-to-rem(
  $grid__space-outer-padding-horizontal--tablet
);
$nav-main--flyout-button-horizontal-padding-two-third: px-to-rem(
  1.5 * $grid__space-outer-padding-horizontal--tablet
);

$nav-main--flyout-transition-delay: 0.2s;
$nav-main--flyout-transtion-property: opacity, visibility, transform;
$nav-main--flyout-transition-duration: speed(open);
$nav-main--flyout-transition-timing: easing(open);

$nav-main--button-list--carret-transition-duration: speed(hover);
$nav-main--button-list--carret-transition-properties: transform;
$nav-main--button-list--carret-transition-easing: easing(open);

// .nav-main {
//   $this: &;

//   @include typo(navMain);

//   &__list {
//     // display: flex;
//     // flex-wrap: wrap;

//     &-icon {
//       margin-left: auto;
//       transition-duration: $nav-main--button-list--carret-transition-duration;
//       transition-property: $nav-main--button-list--carret-transition-properties;
//       transition-timing-function: $nav-main--button-list--carret-transition-easing;
//     }
//   }

//   &__custom-entries {
//     margin-bottom: 0;
//     border-bottom: 1px solid $color--grey-darker;

//     @include breakpoint('tablet-landscape') {
//       margin-bottom: px-to-rem($space--m);
//       border-bottom: 0;
//     }

//     #{$this}__custom-links {
//       margin-bottom: px-to-rem($space--m);
//       width: 100%;
//     }
//   }

//   &__expanded {
//     border-top: 3px solid $color--blue-gradient-primary-end;
//     border-bottom: 3px solid $color--blue-gradient-primary-end;

//     #{$this}__list-icon {
//       fill: $color--primary-hover;
//       transform: rotate(180deg);
//     }
//   }

//   &__list-item {
//     flex: 0 0 50%;

//     @include breakpoint('desktop') {
//       flex: 0 0 25%;
//     }

//     &--active {
//       background: linear-gradient(
//         280deg,
//         $nav-main--list-gradient-start 0%,
//         $nav-main--list-gradient-end 100%
//       );
//       color: $color--white;
//     }
//   }

//   &__button {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     padding: px-to-rem($space--m)
//       $nav-main--flyout-button-horizontal-padding-phone;
//     justify-content: center;
//     text-align: left;
//     width: 100%;

//     @include breakpoint('tablet-landscape') {
//       padding: px-to-rem($space--m)
//         $nav-main--flyout-button-horizontal-padding-desktop;
//     }

//     &:after {
//       position: absolute;
//       bottom: 0;
//       left: $nav-main--flyout-button-horizontal-padding-phone;
//       top: auto;
//       background: linear-gradient(
//         280deg,
//         $nav-main--list-gradient-start 0%,
//         $nav-main--list-gradient-end 100%
//       );
//       content: ' ';
//       display: none;
//       height: 3px;
//       width: calc(
//         100% - 2 * #{$nav-main--flyout-button-horizontal-padding-phone}
//       );

//       @include breakpoint('tablet-landscape') {
//         left: $nav-main--flyout-button-horizontal-padding-desktop;
//         width: calc(
//           100% - 2 * #{$nav-main--flyout-button-horizontal-padding-phone}
//         );
//       }
//     }

//     &--first {
//       @include breakpoint('desktop') {
//         padding-right: $nav-main--flyout-button-horizontal-padding-desktop / 2;

//         &:after {
//           left: $nav-main--flyout-button-horizontal-padding-desktop;
//           width: calc(
//             100% - #{$nav-main--flyout-button-horizontal-padding-two-third}
//           );
//         }
//       }
//     }

//     &--middle {
//       @include breakpoint('desktop') {
//         padding-left: $nav-main--flyout-button-horizontal-padding-desktop / 2;
//         padding-right: $nav-main--flyout-button-horizontal-padding-desktop / 2;

//         &:after {
//           left: $nav-main--flyout-button-horizontal-padding-desktop / 2;
//           width: calc(
//             100% - #{$nav-main--flyout-button-horizontal-padding-desktop}
//           );
//         }
//       }
//     }

//     &--last {
//       @include breakpoint('desktop') {
//         padding-left: $nav-main--flyout-button-horizontal-padding-desktop / 2;

//         &:after {
//           left: $nav-main--flyout-button-horizontal-padding-desktop / 2;
//           width: calc(
//             100% - #{$nav-main--flyout-button-horizontal-padding-two-third}
//           );
//         }
//       }
//     }

//     &--active:after {
//       display: inline-block;
//     }

//     &-text {
//       @include typo(navMainMainText);
//       text-transform: uppercase;
//     }

//     &-subtext {
//       @include typo(navMainLightText);

//       &--sticky {
//         display: none;
//       }
//     }
//   }

//   &__flyout-wrapper {
//     position: relative;
//   }

//   &__flyout-content {
//     display: flex;
//     justify-content: space-between;
//   }

//   &__flyout-item {
//     padding: 0;
//     margin-right: $nav-main--flyout-list-gutter;

//     &:last-child {
//       margin-right: 0;
//     }
//   }

//   &__sublist {
//     text-indent: px-to-rem($space--m + $space--xs);
//     display: none;

//     &--active {
//       display: block;
//     }
//   }

//   &__flyout {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     background-color: $color--white;
//     padding: px-to-rem($space--xm)
//       $nav-main--flyout-button-horizontal-padding-phone;
//     opacity: 0;
//     transform: translateX(-3%);
//     transition-property: $nav-main--flyout-transtion-property;
//     transition-duration: $nav-main--flyout-transition-duration;
//     transition-timing-function: $nav-main--flyout-transition-timing;
//     visibility: hidden;

//     @include breakpoint('tablet-landscape') {
//       padding: px-to-rem($space--l)
//         px-to-rem($grid__space-outer-padding-horizontal--tablet);
//     }

//     &--expanded {
//       box-shadow: 0 px-to-rem(10) 0.66rem rgba(15, 68, 94, 0.3);
//       opacity: 1;
//       transform: translateX(0);
//       transition-delay: $nav-main--flyout-transition-delay;
//       visibility: visible;
//       overflow-y: auto;

//       @include breakpoint(tablet-portrait) {
//         max-height: calc(100vh - #{px-to-rem($header-height--desktop)});
//       }
//       @include breakpoint(tablet-landscape) {
//         max-height: calc(100vh - #{px-to-rem($header-height--tablet-landscape)});
//       }
//       @include breakpoint(desktop) {
//         max-height: calc(100vh - #{px-to-rem($header-height--desktop)});
//       }
//     }

//     &-list {
//       @include breakpoint('tablet-landscape') {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: space-between;
//       }

//       &--small {
//         flex-direction: column;
//         max-width: calc(50% - #{$nav-main--flyout-list-gutter});

//         @include breakpoint('desktop') {
//           max-width: calc(33.333% - #{$nav-main--flyout-list-gutter});
//         }
//       }

//       &-item {
//         flex-basis: calc(50% - #{$nav-main--flyout-list-gutter});

//         @include breakpoint('tablet-portrait') {
//           flex-basis: calc(33.333% - #{$nav-main--flyout-list-gutter});
//         }
//       }

//       &-link {
//         @include interactionStyle(
//           color,
//           $color--primary,
//           $color--primary-hover,
//           $color--primary-hover
//         );
//         @include typo(navMainLightText);
//         position: relative;
//         padding: $nav-main--flyout-list-padding;
//         display: block;
//         border-top: 1px solid $color--grey-darker;

//         &--active:before {
//           content: ' ';
//           position: absolute;
//           top: 0;
//           left: -(px-to-rem(($space--xs * 2)));
//           height: 100%;
//           width: 3px;
//           background: linear-gradient(
//             280deg,
//             $nav-main--list-gradient-start 0%,
//             $nav-main--list-gradient-end 100%
//           );
//         }
//       }

//       &-button {
//         @include interactionStyle(
//           color,
//           $color--primary,
//           $color--primary-hover,
//           $color--primary-hover
//         );
//         @include typo(navMainLightText);
//         border-top: 1px solid $color--grey-darker;
//         display: flex;
//         padding: $nav-main--flyout-list-padding;
//         text-align: left;
//         width: 100%;
//       }
//     }

//     &-title {
//       @include breakpoint('tablet') {
//         @include typo(navMainFlyoutTitle);
//         margin-bottom: $nav-main--flyout-title-margin-bottom;
//       }
//     }
//   }

//   &__link-wrapper {
//     text-align: right;
//     margin: px-to-rem($space--m) 0 px-to-rem($space--xm);

//     @include breakpoint('tablet-portrait') {
//       margin: 0;
//     }

//     #{$this}__teaser-link {
//       @include typo(teaserNewsNav);
//     }
//   }
// }
