.newsletter {
  &-form {
    display: flex;
    gap: px-to-rem($space--m);
    flex-wrap: wrap;
    width: 100%;

    @include breakpoint('tablet-portrait') {
      flex-wrap: nowrap;
    }

    &__unsubscribe {
      width: 50%;
    }

    .fui-i {
      width: 100%;
    }

    .fui-page {
      display: flex;
      align-items: stretch;
      flex-direction: column;

      @include breakpoint('tablet') {
        align-items: center;
        flex-direction: row;
      }
    }

    .fui-row {
      margin: 0;
      display: flex;
      flex-direction: column;

      @include breakpoint('tablet') {
        flex-direction: row;
      }
    }

    .fui-field:not(.fui-type-hidden-field) {
      margin: px-to-rem($space--m) 0;
      padding: 0;

      @include breakpoint('tablet') {
        margin: 0;
        padding: 0 px-to-rem($space--s);
      }
    }

    input[type='text'],
    input[type='email'] {
      @include inputStyles();
      padding: $input--padding-vertical $input--padding-horizontal;

      @if (has($input--height)) {
        height: $input--height;
      }
    }
  }

  &-form__item {
    width: 100%;
  }

  &-form__submit {
    align-self: flex-end;
  }
}
