.newsletter {
  &__form {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint('tablet-portrait') {
      flex-wrap: nowrap;
    }

    .mc-field-group {
      margin: px-to-rem($space--m) 0 px-to-rem($space--s) 0;
      width: 100%;

      @include breakpoint('tablet-portrait') {
        margin: 0 px-to-rem($space--m) 0 0;
      }
    }

    .fui-page {
      display: flex;
      align-items: center;
    }
    .fui-row {
      margin: 0;
    }
    .fui-field:not(.fui-type-hidden-field) {
      margin: 0;
    }

    input[type='text'],
    input[type='email'] {
      @include inputStyles();
      padding: $input--padding-vertical $input--padding-horizontal;

      @if (has($input--height)) {
        height: $input--height;
      }
    }
  }
}
