
.ordersummary {
  &__info {
    display: flex;
    flex-direction: column;

    @include breakpoint('tablet-landscape') {
      flex-direction: row;

    }
  }

  &__info-term {
    width: auto;
    margin: px-to-rem($space--xxs) 0;

    @include breakpoint('tablet-landscape') {
      width: 20%;

    }
  }

  &__info-data {
    font-weight: $font-weight--bold;
    width: 80%;
  }

  &__table {
    margin: px-to-rem($space--xm) 0;
    width: 100%;

    &-head {
      background-color: $color--grey-lighter;
      padding: px-to-rem($space--xs);
    }

    .table-head {
      &__product {
        text-align: left;
      }

      &__qyt {

      }

      &__price {
        vertical-align: middle;
        text-align: right;
      }
    }
  }

}


.adjustments__data {
  display: flex;

  &--type {
    margin-right: px-to-rem($space--s);
  }

  &--amount {
    margin-left: auto;
  }
}

.summary__price {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  &--line {
    border-top: 1px solid $color--grey;
  }

  &--title {
    padding-right: px-to-rem($space--s);
  }

  &--title-bold {
    font-weight: 700;
  }

  &--number {

  }

  &--number-bold {
    font-weight: bold;
  }
}
