.producers {

  &-overview {
    display: flex;
    flex-direction: column;
    &__title {
      flex: 1;
      font-size: px-to-rem($font-size-xl-p); 
    }
    
    &__preview {
      display: flex;
      margin: px-to-rem($space--m) 0;
      flex-wrap: wrap;
      
      @include breakpoint('tablet-landscape') {
        flex-wrap: nowrap;

      }

      &-image {
        flex: 1 0 100%;
        margin: 0 0 px-to-rem($space--xm) 0;
        @include breakpoint('tablet-landscape') {
          flex: 1 0 30%;
          margin: 0 px-to-rem($space--xm) 0 0;
        }

        .image__wrapper {
          justify-content: flex-start;
        }
      }
      &-lead {
        p {
          margin: 0 0 px-to-rem($space--m) 0;
        }
      }
    }

  &__linkdetail {
    align-self: flex-end;
  }
  }
}
