.product-detail {
  &__image {
    padding: px-to-rem($space--xm);
    background-color: $color--brown-lightest;
  }

  &__summary {
  }

  &__summary-heading {
    @include typo(h4);
  }

  &__form-addtobasket {
    margin: px-to-rem($space--m) 0 0 0;
  }

  &__button-back {
    padding: 1rem 0 0 0;
    display: block;
  }

  &__button-back-arrow {
    //   border: solid black;
    //   border-width: 0 1px 1px 0;
    //   display: inline-block;
    //   padding: 5px;
    //   transform: rotate(135deg);
    // -webkit-transform: rotate(135deg);

    // color: #0c5449;
    // background-color: #f6f3ed;
    // margin: 1em 0;

    &::before {
      display: inline-block;
      padding-right: px-to-rem($space--xs);
      content: '\27F5'; // arrow right unicode
      -webkit-transition: transform 0.3s ease-out;
      -moz-transition: transform 0.3s ease-out;
      -ms-transition: transform 0.3s ease-out;
      -o-transition: transform 0.3s ease-out;
      transition: transform 0.3s ease-out;
    }

    &:hover {
      &::before {
        -webkit-transform: translateX(-4px);
        -moz-transform: translateX(-4px);
        -ms-transform: translateX(-4px);
        -o-transform: translateX(-4px);
        transform: translateX(-4px);
      }
    }
  }
}

.form-addtobasket {
  display: flex;

  &__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__info-unit {
    flex: 1 1 100%;
  }

  &__info-unit-base {
    font-size: px-to-rem($font-size-s);
    margin-left: px-to-rem($space--s);
  }

  &__info-quantity {
    width: 20%;
    align-self: center;
    margin: 0 px-to-rem($space--s) 0 0;

    &--input {
      padding: px-to-rem(12) px-to-rem($space--xs);
      text-align: center;
    }
  }

  &__options {
    margin: px-to-rem($space--s) 0;

    textarea {
      margin: px-to-rem($space--s) 0 0 0;
    }
  }

  &__info-pricestockadd {
    display: flex;
    justify-content: space-between;
    margin: 0 0 px-to-rem($space--xm) 0;
    flex-wrap: wrap;

    @include breakpoint('tablet-landscape') {
      flex-wrap: nowrap;
      margin: px-to-rem($space--m) 0;
    }
  }

  &__info-add {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: px-to-rem($space--m) 0;

    @include breakpoint('tablet-landscape') {
      justify-content: flex-end;
      margin: 0;
    }
  }

  &__info-price {
    align-self: center;
    font-size: px-to-rem($space--xm);
  }

  &__info-stock {
    align-self: center;
    font-size: px-to-rem($space--m);

    &-in {
      color: $color--green;
    }

    &-out {
      color: $color--red-error;
    }
  }

  &__info-button {
    display: flex;
    justify-content: flex-end;

    .button {
      background-color: $color--grey-dark;
      border-color: $color--grey-dark;
    }

    .button[disabled] {
      background-color: $color--disabled-background;
      border-color: $color--disabled-border;
      cursor: default;
    }
  }
}
