.profile__adresses {
  .adress-item {
    border: 1px solid $color--blue;
    padding: px-to-rem($space--m);
    border-radius: px-to-rem(2);
    margin-bottom: px-to-rem($space--m);
  }

  .adress-item__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: px-to-rem($space--s);
  }

  .adress-item__marker {
    margin: px-to-rem($space--s) 0;

  }
}
