.producers {
  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
    grid-gap: px-to-rem($space--xm);
  }

  &-overview {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color--grey-light;
    padding-bottom: px-to-rem($space--xm);
    height: 100%;


    &__title {
      flex: 1;
      font-size: px-to-rem($font-size-l);
      margin: 0;

      &:hover {
        text-decoration: underline;
      }
    }

    &__preview {
      display: flex;
      margin: px-to-rem($space--m) 0;
      flex-wrap: wrap;
      align-items: flex-end;
      width: 100%;
      height: 100%;

      @include breakpoint('tablet-landscape') {
        flex-wrap: nowrap;
      }

      &-image {
        flex: 1 0 100%;
        margin: 0 0 px-to-rem($space--xm) 0;
        /* @include breakpoint('tablet-landscape') {
           flex: 1 0 33%;
           margin: 0;
         }*/
      }

      .image__img {
        object-fit: cover;
        width: 100%
      }

      &-lead {
        p {
          margin: 0 0 px-to-rem($space--m) 0;
        }
      }
    }

    &__preview-link {
      width: 100%;

      picture {
        width: 100%;

      }
    }

    &__linkdetail {
      align-self: flex-end;
      font-size: px-to-rem($font-size-s);
    }

    &__products-list--heading {
      display: inline;
      margin: 0;
      font-size: px-to-rem($font-size-xs);
    }

    &__products-list--item {
      font-size: px-to-rem($font-size-s);
    }
  }

  &-detail {

    &__product-list {
      margin-top: px-to-rem($space--m);
    }

    &__product-link {
      margin-top: px-to-rem($space--s);
    }
  }

  &-list {

    &__item {
      color: $color--blue;
      display: inline-block;
      padding: px-to-rem($space--xxs) px-to-rem($space--xs);

      &:hover {
        background-color: $color--blue-light;
        color: $color--white;
      }
    }

    &__item-place {
      font-size: px-to-rem($font-size-s);
      color: $color--grey-dark;
    }
  }


}
