.product-detail {

  &__image {
    padding: px-to-rem($space--xm);
    background-color: $color--brown-lightest;
  }

}

.form-addtobasket {

  display: flex;

  &__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: px-to-rem($space--m) 0;
  }
  
  &__info-variant {
    flex: 1 1 100%;
    margin-bottom: px-to-rem($space--m);
  }

  &__info-quantity {
    width: 20%;
    align-self: center;
    margin: 0 px-to-rem($space--s) 0 0;

    &--input {
      padding: px-to-rem(12) px-to-rem($space--xs);
      text-align: center;
    }
  }

  &__info-pricestockadd{
    display: flex;
    justify-content: space-between;
    margin: px-to-rem($space--m) 0;
    flex-wrap: wrap;
    
    @include breakpoint('tablet-landscape') {
      
      flex-wrap: nowrap;
    }
  }

  &__info-add{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__info-price{
    align-self: center;
    font-size: px-to-rem($space--xm);
  }

  &__info-stock{
    align-self: center;
    font-size: px-to-rem($space--m);

    &-in {
      color: $color--green;
    }
    &-out {
      color: $color--red-error;
    }
  }

  &__info-button {
    display: flex;
    justify-content: flex-end;
    
    .button {
      background-color: $color--grey-dark;
      border-color: $color--grey-dark;
    }
  }
}


.form-addtobasket__info {
  
}
