$shop-list__grid-gutter--phone: px-to-rem($grid__space-gutter--phone);
$shop-list__grid-gutter--tablet: px-to-rem($grid__space-gutter--tablet);
$shop-list__grid-gutter--desktop: px-to-rem($grid__space-gutter--desktop);

:root {
  --grid-col-breakpoint-shop: 12rem;
  --grid-col-breakpoint-blog: 15rem;
  --grid-col-gap: 0.75rem;
  --grid-row-gap: 2.75rem;
}

.filter {
  margin: 0 0 px-to-rem($space--m) 0;

  .heading--2 {
    font-size: px-to-rem($font-size-m);
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid $color--text;
    padding-bottom: px-to-rem($space--xs);
  }

  .no-border {
    border: 0;
    padding: 0;
  }

  &__hint {
    font-size: px-to-rem($font-size-xs);
    display: flex;
    justify-content: space-between;

    @include breakpoint('tablet-portrait') {
      display: none;
    }

    &--text {
      line-height: $line-height--s;
      flex: 0 0 50%;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    margin: 0 0 px-to-rem($space--s) 0;
    font-size: px-to-rem($font-size-s);
  }

  &__pagination {
    margin: px-to-rem($space--l) 0 px-to-rem($space--s) 0;

    &-desktop {
      display: none;

      @include breakpoint('tablet-portrait') {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include breakpoint('tablet-portrait') {
        display: none;
      }
    }

    &-pagesbox {
      display: flex;
      align-items: center;
      margin: 0 px-to-rem($space--s) 0 0;
    }

    &-pagesindex {
      margin: 0 px-to-rem($space--s) 0 0;
    }
    &-pagessingles {
      display: inline-flex;
      align-items: center;
      margin: 0 px-to-rem($space--s) 0 0;
    }
  }

  //DELIKATESSEN CHECKBOXES

  &__deli {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;

    @include breakpoint('tablet-portrait') {
      height: 240px;
    }

    @include breakpoint('tablet-landscape') {
      height: 160px;
    }

    &--checkbox {
      width: 100%;

      @include breakpoint('tablet-portrait') {
        width: 50%;
      }

      @include breakpoint('tablet-landscape') {
        width: 33%;
      }
    }
  }

  //GESCHENKSETS CHECKBOXES
  &__gift {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;

    @include breakpoint('tablet-portrait') {
      height: 140px;
    }

    @include breakpoint('desktop') {
      flex-wrap: wrap;
    }

    &--checkbox {
      width: 100%;

      @include breakpoint('tablet-landscape') {
        width: 50%;
      }
    }
  }

  &__btn--results {
    padding: px-to-rem($space--s);
    background-color: $color--blue;
    float: right;
    color: $color--white;
    font-size: px-to-rem($font-size-xs);
    margin: px-to-rem($space--m) 0;
    display: block;
    @include breakpoint('tablet-landscape') {
      display: none;

      .filter__hint & {
        display: block;
      }
    }
  }
}

.pagination {
  &-svg {
    fill: currentColor;
    height: (px-to-rem($space--s) + px-to-rem($space--m));
    width: (px-to-rem($space--s) + px-to-rem($space--m));
  }
  &-pagesarrow {
    padding: px-to-rem($space--s);
    border: 1px solid $color--grey-light;
    display: inline-flex;
    align-items: center;
  }

  &-pagesnumber {
    padding: px-to-rem($space--s) px-to-rem($space--m);
    border: 1px solid $color--grey-light;
    display: inline-flex;
    align-items: center;

    &-active {
      background-color: $color--beige-light;
    }
  }
}

.shop-list {
  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--grid-col-breakpoint-shop), 1fr)
    );
    grid-column-gap: var(--grid-col-gap);
    grid-row-gap: var(--grid-row-gap);
    grid-auto-rows: 1fr;
    margin: 0;
  }

  // &::before {
  //   content: '';
  //   width: 0;
  //   padding-bottom: 100%;
  //   grid-row: 1 / 1;
  //   grid-column: 1 / 1;
  // }

  // & > *:first-child {
  //   grid-row: 1 / 1;
  //   grid-column: 1 / 1;
  // }

  @supports not (display: grid) {
    display: flex;
    flex-wrap: wrap;
    margin: -$shop-list__grid-gutter--phone * 2;

    @include breakpoint('tablet-landscape') {
      margin: -$shop-list__grid-gutter--tablet / 2;
    }
    @include breakpoint('desktop') {
      margin: -$shop-list__grid-gutter--desktop / 2;
    }
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @supports not (display: grid) {
      @include breakpoint('tablet-landscape') {
        width: 50%;
      }
      @include breakpoint('desktop') {
        width: 33.33%;
      }
    }
  }

  &__item--price,
  &__item--price-sale {
    font-weight: $font-weight--bold;

    .page--home & {
      color: $color--white;

      @include breakpoint('tablet') {
        color: $color--text;
      }
    }
  }

  &__item--price-old {
    font-size: px-to-em($font-size-s);
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;

    padding: 0 ($shop-list__grid-gutter--phone / 2)
      ($shop-list__grid-gutter--phone / 3) ($shop-list__grid-gutter--phone / 2);

    @include breakpoint('tablet-landscape') {
      padding: 0 $shop-list__grid-gutter--tablet / 2
        $shop-list__grid-gutter--tablet / 2 $shop-list__grid-gutter--tablet / 2;
    }
    @include breakpoint('desktop') {
      padding: ($shop-list__grid-gutter--desktop / 4)
        ($shop-list__grid-gutter--desktop / 2)
        ($shop-list__grid-gutter--desktop / 3)
        ($shop-list__grid-gutter--desktop / 2);
    }

    > h3 {
      line-height: $line-height--xm;
      text-align: center;
      padding: px-to-rem($space--s);
      font-size: px-to-em($space--m);
    }
  }

  &__text--pricevolume {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-cart {
    display: flex;
    flex-direction: column;

    .item-cart__variants {
      display: none;
    }

    .item-cart__qty-btn {
      display: flex;
    }

    .input {
      line-height: $line-height--s;
    }

    .button--primary {
      padding: px-to-rem($space--s);
      width: 100%;
      margin-left: px-to-rem($space--s);
      font-size: px-to-rem($button-primary-shop--font-size);
    }
  }

  &__image {
    background-color: $color--beige-light;
    height: 320px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: px-to-rem($space--m) px-to-rem($space--s);
  }

  .onsale {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 70px 70px 0 0;
    border-color: $color--green transparent transparent transparent;
    align-self: flex-start;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    &::after {
      content: 'Aktion';
      position: absolute;
      top: -58px;
      width: 50px;
      left: 0;
      text-align: center;
      font-size: 16px;
      transform: rotate(-45deg);
      display: block;
      color: $color--white;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
  }

  &__no-result {
    text-align: center;
    padding: px-to-rem($space--xm);
    font-family: $font-family--bold;
    font-weight: 700;
    font-size: px-to-rem($font-size-xm);
  }
}
