.nav-sidebar {
  margin: px-to-rem($space--m) 0 px-to-rem($space--xm) 0;

  @include breakpoint('desktop') {
    margin: 0;
  }

  &__item {
    display: block;
  }

  &__sub {
    margin-left: px-to-rem($space--m);
  }


  &__link {
    display: block;
    padding: px-to-rem($space--xs) 0;
    font-size: px-to-rem($font-size-m);
    border-bottom: 1px solid $color--white;

    &:hover {
      border-bottom: 1px solid $color--text;
    }
  }

  &__link--active {
    border-bottom: 1px solid $color--text;
    padding-bottom: px-to-rem($space--xs);
  }
}
