.table-container {
  display: block;
  overflow-x: auto;
  width: 100%;
}

.table {
  @include typo(table);
  max-width: 100%;
  hyphens: none;
  width: 100%;

  tr {
    &:not(:last-child) {
      border-bottom: 1px solid $color--grey-lighter;
      vertical-align: top;
      display: flex;
      flex-direction: column;

      @include breakpoint('tablet-portrait') {
        display: table-row;
      }
    }
  }

  td {
    &:not(:last-child) {
      padding: 0;

      @include breakpoint('tablet-portrait') {
        padding: px-to-rem($space--m) 0;
      }
    }

    &:last-child {
      padding: px-to-rem($space--m) 0 px-to-rem($space--m) 0;
    }

    > p {
      margin: 0;
      line-height: $line-height--base;
    }
  }

  thead {
    @include typo(tableHeading);
    display: none;

    @include breakpoint('tablet-portrait') {
      display: table-header-group;
    }

    tr {
      border-bottom: 2px solid $color--grey-lighter;

      th {
        &:not(:last-child) {
          // padding: px-to-rem($space--m) px-to-rem($space--xm) px-to-rem($space--m) 0;
          padding: px-to-rem($space--s) px-to-rem($space--m) px-to-rem($space--s) px-to-rem($space--s);
        }

      }
    }
  }
}
