.form__cart {
  &-table {
    width: 100%;
    margin-top: px-to-rem($space--s);
    // display: flex;
    // flex-direction: column;

    // @include breakpoint('tablet-portrait') {
    //   display: inline-flex;
    // }

    // thead {
    //   display: table;
    //   flex-direction: column;

    //   @include breakpoint('tablet-portrait') {
    //     display: table;
    //   }
    // }

    // tbody {
    //   display: flex;
    //   flex-direction: column;

    //   @include breakpoint('tablet-portrait') {
    //     display: inline-flex;
    //   }
    // }

    // tbody > tr {
    //   display: flex;
    //   flex-direction: column;

    //   @include breakpoint('tablet-portrait') {
    //     display: table;
    //   }
    // }

    &--head {
      background-color: $color--blue-lighter;
      color: $color--white;
    }

    &--item {
      padding: px-to-rem($space--s) px-to-rem($space--m) px-to-rem($space--s) 0;
    }

    &--itemtitle {
      &:hover {
        text-decoration: underline;
      }
    }

    &--item-left {
      text-align: left;
    }

    &--item-middle {
      text-align: left;
    }

    &--item-right {
      text-align: right;
    }

    &--options {
      position: relative;
      background-color: $color--grey-lightest;
      margin: px-to-rem($space--s) px-to-rem($space--xm) px-to-rem($space--s) 0;
      display: flex;
      flex-direction: column;
      padding: px-to-rem($space--m);
      font-size: px-to-rem($font-size-s);
    }

    &--options-heading {
      margin: 0 0 px-to-rem($space--s) 0;
      font-size: px-to-rem($font-size-s);
    }

    &--options-header {
      display: flex;
      justify-content: space-between;
    }

    &--options-notice {
      font-size: px-to-rem($font-size-s);
      color: $color--green;
    }

    &--note {
      margin-top: px-to-rem($space--m);
    }

    &--note-label {
      text-transform: uppercase;
      font-size: px-to-rem($font-size-s);
      display: block;
      color: $color--grey-light;

      span {
        text-transform: none;
      }
    }

    &--hint {
      font-size: px-to-rem($font-size-s);
      line-height: $line-height--xm;
    }

    &--item-prices {
      padding: px-to-rem($space--s);
      text-align: right;
    }

    &--item-price-name {
      font-size: px-to-rem($font-size-s);
      padding-right: px-to-rem($space--s);
    }

    &--item-price-number {
      font-size: px-to-rem($font-size-s);
    }

    &--item-price-number-bold {
      font-family: $font-family--bold;
      font-weight: 700;
      padding: 0;
    }

    &--item-price {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &--item-remove {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &--item-addprice {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &--item-pricesubtotal {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &--item-pricesubtotal-number {
      font-family: $font-family--bold;
      font-weight: 700;
    }

    &--item-pricetotal {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: px-to-rem($space--m) 0 0 px-to-rem($space--s);
    }

    &--item-pricetotal-number {
      font-family: $font-family--bold;
      font-weight: 700;
      font-size: px-to-rem($font-size-l);
    }

    &--coupon {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &--coupon-box {
      width: 100%;
      text-align: left;
      padding: px-to-rem($space--m);
      max-width: 24rem;
      background-color: $color--grey-lightest;
      border: 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    &--buttons {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      height: 100%;
    }

    &--buttons-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    &--adjustments-order {
      text-align: right;
      padding: px-to-rem($space--s) 0;
    }
  }

  &--expection {
    display: flex;
    flex-direction: column;
  }

  &--adjustments {
    border-top: 1px solid $color--grey-light;
    font-size: px-to-rem($font-size-xs);
    display: none;

    @include breakpoint('tablet-portrait') {
      display: table-row;
    }

    td:last-child {
      padding: px-to-rem($space--s) 0;
    }
  }
}

.adjustments {
  &__title {
  }

  &__data--type {
    // font-size: px-to-rem($font-size-s);
    margin: 0 px-to-rem($space--s) 0 0;
  }

  &__data--name {
  }

  &__data--description {
  }

  &__data {
    display: flex;
  }

  &__data--amount {
    margin-left: auto;
  }
}
