.section-gallery {


  figure {
    width: min-content;
  }

  .image-matrix {

  }

  .image__img {
    display: block;
    max-width: none;
    //margin-right: px-to-rem($space--m);
    height: 200px;

    @include breakpoint('tablet-landscape') {
      height: 640px;
    }
  }


  .is-selected {
    width: 100%;
  }

}
