{% extends '/_layouts/main' %}


{% block content %}
  <!-- Template: {{ _self }}.twig -->

  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">


        <div class="row">
          <div class="col col-xs-12 col-md-12 col-lg-6">
            <h2>Verifiziert</h2>
            <p>
              Sie haben Ihre E-Mail-Adresse erfolgreich verifiziert und sich in der Terra-Verde Mailing-Liste
              angemeldet.<br/>
              Vielen Dank.
            </p>


          </div>
        </div>

      </div>

    </div>
  </section>
{% endblock %}

