{% extends '_layouts/main' %}
{% set bodyClass = 'home' %}

{% block content %}

<div class="content__grid">
  <div class="content__grid--top">
    <h1 class="heading heading--h1">
      {{ entry.homepage }}
    </h1>
  </div>

  <div class="content__grid--wide">
    <div class="quicklinks">
      <h2 class="visually-hidden">Quicklinks</h2>

      <article class="content__grid">

        <div class="content__grid--3-1">
          <h3>Delikatessen</h3>
        </div>

        <div class="content__grid--3-2">
          <h3>Weine</h3>
        </div>

        <div class="content__grid--3-3">
          <h3>Geschenksets</h3>
        </div>
      </article>

    </div>
  </div>

  <section class="section__teaser content__grid--wide">
    <h2>Alle Neuheiten</h2>

  </section>

  <div class="content__grid--wide">

    <section class="section__selection">
      <h2 class="section__title">
        Auswahl aus dem Shop
      </h2>

      <div class="section__campaigns">
        <h3>Aktionen</h3>

        <div class="content__grid--3">
          <div class="content__grid--3-container">

          </div>
        </div>

      </div>
      <div class="section__new-products">
        <h3>Neuheiten</h3>
      </div>
      <div class="section__favorites">
        <h3>Beliebteste</h3>
      </div>
    </section>
  </div>

</div>






  {# <section class="section">
    <div class="">
      <div class="row">

        <div class="col col-xs-12 col-md-10 col-md-shift-1 col-lg-8 col-lg-shift-2">
          <h1 class="heading heading--h1">
            {{ entry.homepage }}
          </h1>

          <!-- <h2 class="heading heading--h2">
            Heading H2
          </h2> -->

          <div class="quicklinks">
            <h2 class="visually-hidden">Quicklinks</h2>
            <h3>Delikatessen</h3>
            <h3>Weine</h3>
            <h3>Geschenksets</h3>

          </div>

          <section class="shop__peek">
            <h2>Auswahl aus dem Shop</h2>
            <a href="/shop">Shop</a>


            <section class="section__home shop__peek--sales">

            </section>

            <section class="section__home shop__peek--new">

            </section>

            <section class="section__home shop__peek--favorites">

            </section>

          </section>
        </div>

      </div>

  </section>#}
{% endblock %}
