<!-- Template: {{ _self }}.twig -->
<label class="block bg-gray-100 p-2 hover:bg-gray-200 cursor-pointer mt-3">
  <div class="flex justify-start items-center">
    <div class="pr-2">
      <input type="radio" name="gatewayId" value="" />
    </div>
    <div>
      <strong>Rechnung (30 Tage). Bitte haben Sie Verst채ndnis, wenn wir in Einzelf채llen eine abweichende Zahlungsweise erbitten.</strong>
    </div>
  </div>
</label>


{# <label for="payonAccount" class="block bg-gray-100 p-2 hover:bg-gray-200 cursor-pointer mt-3">
 {{ hiddenInput('payonAccount', true) }}
  <div class="flex justify-start items-center">
    <div class="pr-2">
      <input type="radio" id="payonAccount" name="payonAccount" value="1" />
    </div>
    <div>
      <strong>Rechnung (30 Tage). Bitte haben Sie Verst채ndnis, wenn wir in Einzelf채llen eine abweichende Zahlungsweise erbitten.</strong>
    </div>
  </div>
</label> #}

