{% extends '_layouts/main' %}

{% block content %}
  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-6">
        <h3 class="layout-helper__margin-bottom--xxs">
          Hallo {{ currentUser }}<br /> <br />Vielen Dank für Ihre Registrierung.
        </h3>
        <p class="layout-helper__margin-bottom--xxs">
          Sie haben sich mit folgender E-Mail Adresse registriert, diese ist
          gleichzeitig Ihr Benutzername:</p>
        </p>

        <p class="layout-helper__margin-bottom--xxs">
          <strong>{{ currentUser.email }}</stong>
        </p>


        <h4 class="layout-helper__margin-top--xs">
          <a href="/" class="link">Zur Startseite</a>
        </h4>

        <h4>
          <a href="/shop" class="link">Zum Shop</a>
        </h4>

      </div>
    </div>
  </section>
{% endblock %}
