/.env
.env
*.env
/.idea
/vendor
.DS_Store
node_modules/*
package-lock.json
web/assets/scripts/*
web/assets/styles/*
web/assets/images/content/*
web/content/*
_backup/*
--templates/*
web/assets/files/
