{% if success is defined and success %}
  <div class="bis-complete">
    <div class="bis-signup__complete-message">Vielen Dank. Sie werden benachrichtigt, sobald das Produkt wieder
      erhältlich ist.
    </div>
  </div>
{% else %}
  <form sprig s-action="craft-commerce-back-in-stock/base/register-interest" s-method="post"
        class="bis-signup__registration-form">
    <div class="bis-signup__registration-message">
      Dieses Produkt ist zurzeit nicht lieferbar. Sobald das Produkt wieder erhältlich ist, werden wir Sie per
      Mail informieren. Fügen Sie dazu bitte hier Ihre E-Mail Adresse ein.
    </div>
    <input type="hidden" name="variantId" value="{{ product.defaultVariant.id }}">
    <div class="bis-signup__registration-fields">
      {# Outputs a hidden input field #}
      {# {{ craft.snaptcha.field }} #}

      <input class="input bis-signup__registration-input"
             name="email" type="email" value="{{ cart.email }}"
             placeholder="name@email.ch">
      <button class="bis-signup__registration-btn button button--primary" type="submit">Abschicken</button>
    </div>
  </form>
{% endif %}
