{% extends '/_layouts/main' %}

{% block content %}
  <!-- Template: {{ _self }}.twig -->

  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-8 col-lg-8">
        <h3 class="heading heading--3">
          Wie würden sie gerne bezahlen?
        </h3>

        {# Get the available payment sources the user has to be used later in this page #}
        {% set paymentSources =
          craft.commerce.paymentSources.allPaymentSourcesByUserId(
            currentUser.id ?? null
          )
        %}

        {# Get the available gateways to be used later in this page #}
        {% set availableGateways =
          craft.commerce.gateways.allCustomerEnabledGateways
        %}

        {# If there is no gateway, then payment sources won't work either #}
        {% if availableGateways is empty %}
          <p>
            Keine Bezahlmögichkeiten verfügbar.
          </p>
        {% endif %}

        {% if availableGateways|length %}
          <div class="mt-3">
            <form method="post" action="" class="relative border-b-1 mb-4">
              {{ actionInput('commerce/cart/update-cart') }}
              {{ redirectInput('shop/checkout/payment') }}
              {{ csrfInput() }}

              <div class="mt-3">
                {% include 'shop/checkout/_includes/gateways' with {
                  availableGateways: availableGateways,
                  paymentSources: paymentSources
                } %}
              </div>

              <div class="mt-3">
                {% include 'shop/checkout/_includes/currencies' %}
              </div>

              <div class="mt-6 flex justify-end">
                <input type="submit"
                  name="submit"
                  class="input__primary input"
                  value="Weiter" />
              </div>
            </form>
          </div>
        {% endif %}
      </div>
      <div class="col col-xs-12 col-md-4 col-lg-4">
        {% include 'shop/checkout/_includes/order-summary' with {
          showShippingAddress: true,
          showShippingMethod: true
        } %}
      </div>
    </div>
  </section>
{% endblock %}
