// -----------------------------------------------------------------------------
// #COLORS
// -----------------------------------------------------------------------------

$color--white: #fff !default;
$color--black: #121 !default;

$color--brown: #3d362f;
$color--brown-light: #4c3a27;
$color--brown-lighter: #a8a7a2;
$color--brown-lightest: #f7f5f1;

$color--grey-dark: #333333;

/* grey */
$color--grey: #a3a3a3;
$color--grey-darkest: #363636;
$color--grey-darker: #666;
$color--grey-light: #c2c2c2;
$color--grey-lighter: #e0e0e0;
$color--grey-lightest: #f8f8f8;

$color--grey-gradient-start: #f7f7f9;
$color--grey-gradient-end: #e9ebef;

/* news beige*/

$color--beige-light: #f7f5f0;

// blue
$color--bluegrey: #3d596c;

$color--blue: #688aa1;
$color--blue-dark: #0d3256;
$color--blue-light: #7394aa;
$color--blue-lighter: #9eadbb;
$color--blue-lightest: #e6f6ff;

$color--blue-gradient-start: #0f4880;
$color--blue-gradient-end: #326aa1;
$color--blue-gradient-primary-end: #2f6ba7;

// red
$color--red: #d65e5a;
$color--red-error: #bd3249;
$color--red-dark: #9e5662;
$color--red-light: #c99;

$color--red-gradient-start: $color--red-dark;
$color--red-gradient-end: $color--red-light;

// green
$color--green: #43947c;

$color--green-gradient-start: rgba(124, 180, 180, 0.4);
$color--green-gradient-end: rgba(153, 204, 204, 0.4);

// orange
$color--orange: #c93;
$color--orange-dark: #b4821f;
$color--orange-light: #dbb770;

//yellos
$color--yellow: #ffc200;

//disabled
$color--disabled: #94a3b2;

/* primary */
$color--primary: $color--blue;
$color--primary-hover: $color--blue-dark;
$color--primary-gradient-start: $color--blue;
$color--primary-gradient-end: $color--blue-gradient-primary-end;
$color--primary-disabled: $color--disabled;

/* secondary */
$color--secondary: $color--red;
$color--secondary-hover: $color--red-dark;
$color--secondary-gradient-start: $color--red-gradient-start;
$color--secondary-gradient-end: $color--red-gradient-end;
$color--secondary-disabled: $color--disabled;

/* special */
$color--special-gradient-start: $color--green-gradient-start;
$color--special-gradient-end: $color--green-gradient-end;
$color--special-disabled: $color--disabled;

/* text */
$color--text: $color--grey-dark;
$color--hover-text: $color--black;
$color--headings: $color--brown;
$color--meta: $color--grey-darker;

$color--disabled-text: $color--grey-light;
$color--disabled-background: $color--grey-lightest;
$color--disabled-border: $color--grey-lighter;
