// -----------------------------------------------------------------------------
// #ICONS
// -----------------------------------------------------------------------------

​ .icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: currentColor;

  > path {
    fill: currentColor;
  }

  ​ > use {
    fill: inherit;
    stroke: inherit;
  }
}

.icon--svg {
  height: 1.5em;
  width: 1.5em;
  fill: inherit;
  stroke: inherit;
}

.icon--check {
  fill: currentColor;
  height: 20px;
  margin: 0 px-to-rem(6) 0 0;
}

.icon--24 {
  height: px-to-rem(24);
  width: px-to-rem(24);

  > path {
    fill: currentColor;
  }
}

.icon--42 {
  height: px-to-rem(42);
  width: px-to-rem(42);

  > path {
    fill: currentColor;
  }
}

.icon--60 {
  height: px-to-rem(60);
  width: px-to-rem(60);

  > path {
    fill: currentColor;
  }
}

.icon--75 {
  height: px-to-rem(75);
  width: px-to-rem(75);

  > path {
    fill: currentColor;
  }
}
