// -----------------------------------------------------------------------------
// #SETTINGS
// -----------------------------------------------------------------------------

/**
*  Grid
*/
$container--max-width: 1280;
$display--max-width: 1920;

/**
*  Breakpoint Settings
*/

// refers always to a key inside the $breakpoint map (see `css/utils/_breakpoints`)
$breakpoint--base: phone;

// phone min is 0
$phone--max: 600px !global;

$tablet-portrait--min: 740px !global;
$tablet-portrait--max: 960px !global;

$tablet-landscape--min: 961px !global;
$tablet-landscape--max: 1200px !global;

$desktop--min: 1201px !global;
$desktop--max: 1920px !global;

$desktop-big--min: 1921px !global;

// override default breakpoint from dialog
$dialog-breakpoint-default: $breakpoint--base;

/**
 *  Typography
 */
$font-size--base: 18 !global;

$font-family--heading: 'Open Sans';
$font-weight--heading: 400;

$font-family--base: 'Open Sans';
// $font-family--base: 'Frutiger LT W01_55 Roman';
$font-weight--base: 400;

$font-family--semi-bold: 'Open Sans';
$font-weight--semi-bold: 600;


$font-weight--light: 100;

$font-family--bold: 'Open Sans';
$font-weight--bold: 700;

$font-family--logo: 'Bodoni Reg';
$font-weight--logo: 400;

$font-family--logo-bold: 'Bodoni Bold';
$font-weight--logo-bold: 700;


// $line-height--xs: 1.15; // 32.5px
$line-height--s: 1.15; // 32.5px
$line-height--xm: 1.35; // 36px
$line-height--xxm: 1.5; // 27px
$line-height--m: 1.65; // 43px
$line-height--l: 1.8; // 32px
$line-height--base: $line-height--m;

$font-size-xxs: 12;
$font-size-xs: 13;
$font-size-s: 15;
$font-size-m: 18;
$font-size-xm: 21;
$font-size-l: 24;
$font-size-xl-p: 26;
$font-size-xl: 32;
$font-size-xxl-p: 36;
$font-size-xxxl-p: 48;
$font-size-xxl: 52;
$font-size-xxxl: 72;
$font-size-xxxxl: 86;

/**
 * Base spacing units - for boxes (horizontal and vertical)
 */
$space--xxs: 3;
$space--xs: 6;
$space--s: 9;
$space--m: 18;
$space--xm: 36;
$space--xxm: 54;
$space--l: 72;
$space--xl: 90;
$space--xxl: 108;
$space--xxxl: 140;

/**
 * Grid
 */
$grid__space-outer-padding-horizontal--phone: 30;
$grid__space-outer-padding-horizontal--tablet: 60;
$grid__space-outer-padding-horizontal--desktop: 110;

$grid__space-gutter--phone: 36;
$grid__space-gutter--tablet: 36;
$grid__space-gutter--desktop: 60;

/**
 *  CSS Framework
 */

// used for conditional rendering in sass
$sass-null: null;

// wysiwyg editor class
$formatted-text-class: 'formatted-text';

// teaser box shadow
$teaser__box-shadow: 0 0.277rem 0.66rem rgba(15, 68, 94, 0.3); // 0 5px 12px (basierend auf 1rem = 18px)
$header__box-shadow: 0 0.277rem 0.66rem rgba(44, 133, 63, 0.1); // 0 5px 12px (basierend auf 1rem = 18px)

// text shadow
$main-claim__text-shadow: 0 4px 12px rgba(102, 102, 102, 0.6);

// hover scale factor
$hover-scale-factor: 1.02;

// background gradient angle
$background-gradient__angle: 280deg;

// spacing content
$content-spacing--phone: 120;
$content-spacing--tablet-landscape: 200;
$content-spacing--desktop: 200;

//header height
$header-height--desktop: 186;
$header-height--tablet-landscape: 270;
$header-height--tablet-portrait: 312;
$header-height--phone: 100;
