// -----------------------------------------------------------------------------
// #TYPOGRAPHY
// -----------------------------------------------------------------------------

/**
 *  Phone - standard defined in `utils/settings`
 */
$typography--phone: (
  default: (
    font-size: px-to-rem($font-size-m),
  ),
  heading: (
    font-family: $font-family--heading,
    font-weight: $font-weight--heading,
  ),
  button: (
    font-size: px-to-rem($font-size-s),
    line-height: $line-height--m,
  ),
  input: (),
  title: (
    font-size: px-to-rem($font-size-xm),
    line-height: $line-height--xm,
    text-align: center,
    text-transform: uppercase,
  ),
  h1: (
    font-size: px-to-rem($font-size-xxl-p),
    line-height: $line-height--s,
  ),
  h2: (
    font-size: px-to-rem($font-size-xl-p),
    line-height: $line-height--xm,
  ),
  h3: (
    font-size: px-to-rem($font-size-l),
    line-height: $line-height--m,
  ),
  h4: (
    font-size: px-to-rem($font-size-xm),
    line-height: $line-height--xm,
  ),
  h2furtherContent: (
    font-size: px-to-rem($font-size-xm),
    line-height: $line-height--xm,
  ),
  lead: (
    font-family: $font-family--base,
    font-size: px-to-rem($font-size-xm),
  ),
  p: (
    font-family: $font-family--base,
    font-size: px-to-rem($font-size-m),
    font-weight: $font-weight--light,
    line-height: $line-height--s,
  ),
  linkInline: (
    font-family: $font-family--bold,
  ),
  pills: (
    font-size: px-to-rem($font-size-s),
  ),
  teaserFormLeafletsTitle: (
    font-size: px-to-rem($font-size-l),
  ),
  navMain: (
    font-size: px-to-rem($font-size-s),
  ),
  navServiceDesktop: (
    font-size: px-to-rem($font-size-s),
  ),
  navMainLightText: (
    font-family: $font-family--base,
  ),
  navMainMainText: (
    font-family: $font-family--bold,
  ),
  navMainFlyoutTitle: (
    font-family: $font-family--base,
    font-size: px-to-rem($font-size-xm),
  ),
  navLanguageTriggerActive: (
    font-family: $font-family--bold,
  ),
  navMainMobileBold: (
    font-family: $font-family--bold,
    font-size: px-to-rem($font-size-m),
  ),
  navMainMobileText: (
    font-size: px-to-rem($font-size-s),
  ),
  navMainMobileLogoLine: (
    font-size: px-to-rem($font-size-xxs),
    line-height: 0.7,
    letter-spacing: 0.2rem,
    font-family: $font-family--logo-bold,
    font-weight: $font-weight--logo-bold,
    text-transform: uppercase,
  ),
  navServiceMobile: (
    font-size: px-to-rem($font-size-xs),
  ),
  navMainMobileHeader: (
    font-size: px-to-rem($font-size-s),
  ),
  linkButton: (
    font-size: px-to-rem($font-size-s),
  ),
  linkButtonBig: (
    font-size: px-to-rem($font-size-m),
  ),
  accordionTitle: (
    font-size: px-to-rem($font-size-xm),
  ),
  caption: (
    font-size: px-to-rem($font-size-s),
  ),
  footer: (
    font-size: px-to-rem($font-size-xs),
  ),
  footerTitle: (
    font-size: px-to-rem($font-size-s),
  ),
  formInput: (
    font-family: $font-family--base,
    line-height: $line-height--m,
  ),
  formInstruction: (
    font-size: px-to-rem($font-size-xxs),
  ),
  alertMessages: (
    font-size: px-to-rem($font-size-s),
    font-family: $font-family--base,
  ),
  searchTitle: (
    font-size: px-to-rem($font-size-l),
  ),
  searchArea: (
    font-family: $font-family--base,
    font-size: px-to-rem($font-size-s),
  ),
  table: (
    font-family: $font-family--base,
  ),
  tableHeading: (
    font-family: $font-family--heading,
  ),
);

/**
 *  Tablet portrait
 */
$typography--tablet-portrait: (
  title: (
    font-size: px-to-rem($font-size-xl),
  ),
  h1: (
    font-size: px-to-rem($font-size-xxxl),
  ),
  h2: (
    font-size: px-to-rem($font-size-xl-p),
  ),
  h3: (
    font-size: px-to-rem($font-size-l),
  ),
  h4: (
    font-size: px-to-rem($font-size-l),
  ),
  h2furtherContent: (
    font-size: px-to-rem($font-size-xl),
  ),
  lead: (
    font-size: px-to-rem($font-size-l),
    line-height: $line-height--m,
  ),
  navMainFlyoutTitle: (
    font-size: px-to-rem($font-size-l),
  ),
  teaserNavTextTitle: (
    font-size: px-to-rem($font-size-l),
  ),
  teaserNavTextParagraph: (
    font-size: px-to-rem($font-size-m),
  ),
  teaserNavIconTitle: (
    font-size: px-to-rem($font-size-m),
  ),
  teaserNewsMeta: (
    font-size: px-to-rem($font-size-m),
  ),
  teaserNewsTitle: (
    font-size: px-to-rem($font-size-l),
  ),
  accordionTitle: (
    font-size: px-to-rem($font-size-l),
  ),
  contentHeaderClaim: (
    font-size: px-to-rem($font-size-xxl),
  ),
  teaserNewsNav: (
    font-size: px-to-rem($font-size-m),
  ),
);

/**
 *  Tablet landscape
 */
$typography--tablet-landscape: (
  h2: (
    font-size: px-to-rem($font-size-xl-p),
  ),
  navMainMobileLogoLine: (
    font-size: px-to-rem($font-size-m),
    letter-spacing: 0.78rem,
  ),
);

/**
 *  Desktop
 */
$typography--desktop: (
  h1: (
    font-size: px-to-rem($font-size-xxxl),
  ),
  h2: (
    font-size: px-to-rem($font-size-xl-p),
  ),
  h3: (
    font-size: px-to-rem($font-size-xxl-p),
  ),
  h4: (
    font-size: px-to-rem($font-size-xm),
  ),
  contentHeaderClaim: (
    font-size: px-to-rem($font-size-xxxxl),
  ),
  navMainMobileLogoLine: (
    font-size: px-to-rem($font-size-m),
    letter-spacing: 0.78rem,
  ),
);

/**
 * Desktop big
 */
$typography--desktop-big: ();

// dialog-typo is a dependency, don't touch this! https://www.youtube.com/watch?v=otCpCn0l4Wo
$dialog-typo: (
  phone: $typography--phone,
  tablet-portrait: $typography--tablet-portrait,
  tablet-landscape: $typography--tablet-landscape,
  desktop: $typography--desktop,
  desktop-big: $typography--desktop-big,
);
