{% extends '_layouts/main' %}

{% block content %}
  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-6">
        <h3>
          Sie haben sich erfolgreich ausgeloggt.
        </h3>
      </div>
      <div class="col col-xs-12 col-md-12 col-lg-6">
        {% include '_pages/login/login.twig' %}
      </div>
    </div>
  </section>
{% endblock %}
