// -----------------------------------------------------------------------------
// #HOME
// -----------------------------------------------------------------------------

.page--home {
  .home__link {
    text-align: left;
    color: $color--primary;
    display: block;
  }
}

.homepage-news {
  display: none;
  background-color: $color--beige-light;

  &__title {
    font-weight: $font-weight--bold;
  }

  &__time,
  &__location {
    display: block;
  }

  @include breakpoint('tablet-landscape') {
    display: block;
    position: absolute;
    right: 0;
    bottom: -50px;
    max-width: 35vw;
    padding: px-to-rem($space--xxm);
  }

  &--mobile {
    display: block;
    margin-top: -(px-to-rem($space--xl));
    margin-bottom: 0;
    padding: px-to-rem($space--xm);

    @include breakpoint('tablet-landscape') {
      display: none;
    }
  }
}

.circle--bio {
  border-radius: 999px;
  background-color: $color--green-bio;
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 100;
  right: px-to-rem(0);
  top: (px-to-rem(0));
  display: flex;
  align-items: center;
  text-align: center;
  line-height: $line-height--s;
  color: $color--white;
  flex-direction: column;
  justify-content: center;
  transform: rotate(12deg);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .01em;
  @include breakpoint('tablet') {
    height: 65px;
    width: 65px;
  }

  &-word {
    font-size: px-to-rem($font-size-m);

    @include breakpoint('tablet') {
      font-size: px-to-rem($font-size-l);
    }
  }

  @include breakpoint('desktop') {
    right: 0%;
  }
}

.section-home {
  position: relative;

  &__stripe {
    margin: px-to-rem($space--xm) 0 0 0;
    padding: px-to-rem($space--xm) 0 0 0;

    .image__wrapper {
      justify-content: center;
      max-height: px-to-rem(250);
      align-items: center;
    }
  }

  &__product,
  &__blogentry {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: px-to-rem($space--m) 0;

    &:not(:last-child) {
      border-bottom: 1px solid rgba($color--white, 0.3);
    }

    @include breakpoint('tablet') {
      height: 100%;
      border-bottom: 0;
      padding-top: 0;
    }

    &--link {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &--heading {
      text-align: center;
      font-size: px-to-rem($font-size-m);
      margin: px-to-rem($space--xm) 0 0 0;
      color: $color--white;

      @include breakpoint('tablet') {
        color: $color--text;
      }
    }

    &--price {
      font-weight: $font-weight--bold;
    }
  }

  &__row-products {
    margin: px-to-rem($space--xxm) 0 px-to-rem($space--xxm) 0;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__overlay {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background: $color--white;
    bottom: 0;
    height: 0;

    @include breakpoint('tablet') {
      height: 200px;
    }
  }

  &__link {
    text-align: center;
    display: block;
    color: $color--white;
  }

  &__newproducts {
    background-color: $color--red;
  }

  .heading {
    text-align: center;
    font-size: px-to-rem($font-size-xxl-p);
    color: $color--white;
    margin-top: 0;
  }

  &__campaigns {
    background-color: $color--primary;

    .heading--h3 {
      color: $color--white;
    }
  }

  &__favorites {
    background-color: $color--green;
  }

  &__blog {
    background-color: $color--orange;
  }
}

.quicklinks {
  margin: px-to-rem($space--l) 0 0 0;

  .image__img {
    max-height: px-to-rem(250);
    width: auto;
  }

  .heading {
    font-size: px-to-rem(30);
    align-self: center;
    text-align: center;
  }

  .image__wrapper {
    justify-content: center;
  }

  &__items {
    display: flex;
    flex-direction: column;
    padding-bottom: px-to-rem($space--m);
    justify-content: space-between;

    .link--button {
      align-self: center;
      display: flex;
      flex-direction: row;

      @include breakpoint('tablet-portrait') {
        flex-direction: column;
        .link__icon-wrapper--internal {
          align-self: center;
          margin-left: 0;
        }
      }

      @include breakpoint('tablet-landscape') {
        flex-direction: row;
      }
    }
  }

  // &__items--link {
  //   display: flex;
  //   flex-direction: column;
  // }
}
