// -----------------------------------------------------------------------------
// #HOME
// -----------------------------------------------------------------------------


.section {
  
  &__teaser {
    // height: 200px;
    background-color: mediumvioletred;
  }

  &__title {
    background-color: lightseagreen;
    // min-height: 100px;
    margin: 0;
  }
  
  &__campaigns {
    background-color: lightslategray;
    // min-height: 100px;
  }
  
  &__new-products{
    background-color: limegreen;
    // min-height: 100px;
  }
  
  &__favorites {
    background-color: mediumseagreen;
    // min-height: 100px;
  }
}
