{% extends '_layouts/main' %}
{% set pageTitle = entry.pageTitle is not empty ? entry.pageTitle : entry.title
%}

{% block content %}
  {# {% if craft.session.isLoggedIn %}
    {% set message = craft.app.session.getFlash('notice', null, true) %}

    {% if message %}
      <p style="background-color:orange; padding: 10px; margin: 0 0 200px 0; text-align: center; position: relative; top: 170px; z-index: 1; color: white;">
        {{ message }}
      </p>
    {% endif %}
  {% else %}
    Erfolgreich ausgeloggt!
  {% endif %} #}

  <div class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        {% include '_components/breadcrumb.twig' %}
        <h2 class="heading heading--h2 heading--site heading--no-margin-top">
          {{ pageTitle }}
        </h2>
      </div>
    </div>
  </div>

  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-6">
        {% include '_pages/login/login.twig' %}
      </div>

      {# <div class="col col-xs-12 col-md-12 col-lg-6">
        {% include '_pages/login/login-detailhandel.twig' %}
      </div> #}

      <div class="col col-xs-12 col-md-12 col-lg-6">
        <h3>
          Noch nicht registriert?
        </h3>
        {% include '_pages/login/register.twig' %}
      </div>
    </div>
  </section>
{% endblock %}
