{% extends '_layouts/main' %}
{% set pageTitle = entry.pageTitle is not empty ? entry.pageTitle : entry.title
%}

{% block content %}
  {# {% if craft.session.isLoggedIn %}
    {% set message = craft.app.session.getFlash('notice', null, true) %}

    {% if message %}
      <p style="background-color:orange; padding: 10px; margin: 0 0 200px 0; text-align: center; position: relative; top: 170px; z-index: 1; color: white;">
        {{ message }}
      </p>
    {% endif %}
  {% else %}
    Erfolgreich ausgeloggt!
  {% endif %} #}

  <div class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        {% include '_components/breadcrumb.twig' %}
        <h2 class="heading heading--h2 heading--site heading--no-margin-top">
          {{ pageTitle }}
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <div class="notice">
          <h4 class="heading heading--h4 heading--no-margin-top">Hinweis: </h4>
          <p>Die Seite und der Shop sind überarbeitet worden. Die Benutzerkonten sind erhalten geblieben,
          allerdings müssen Sie sich beim ersten Anmelden ein <strong>neues Passwort erstellen</strong> lassen. <p>
          <p>Dazu klicken Sie bitten auf "Passwort vergessen" und folgen den weiteren Anweisungen</p>
          <p>Bei Fragen wenden Sie sich bitte an <a href="mailto:support@terra-verde.ch">support@terra-verde.ch</a>
        </div>
      </div>
    </div>
  </div>

  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-4">
        <h3 class="heading heading--h3 heading--site heading--no-margin-top">
          Bereits registiert?
        </h3>
        {% include '_pages/login/login.twig' %}
      </div>

      {# <div class="col col-xs-12 col-md-12 col-lg-6">
        {% include '_pages/login/login-detailhandel.twig' %}
      </div> #}

      <div class="col col-xs-12 col-md-12 col-lg-8">
        <h3 class="heading heading--h3 heading--site heading--no-margin-top">
          Neu registrieren
        </h3>
        {% include '_pages/login/register.twig' %}
      </div>
    </div>
  </section>
{% endblock %}
