{% extends '_layouts/main' %}

{% block content %}
  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">

        <p class="layout-helper__margin-bottom--xxs">
          Wir haben Ihnen eine E-Mail mit einem Link zum Zurücksetzen des
          Passwortes gesendet.
        <p>
          {# <p class="layout-helper__margin-bottom--xxs">
          <strong> {{ user.id }}</strong>
        </p> #}
        <p>
          Falls sie keine E-Mail erhalten haben, schauen sie bitte im Spam
          Ordner nach, ansonsten füllen Sie bitte das <a class="link" href="/kontakt">Kontaktformular</a> aus. <br/>Vielen
          Dank.
        </p>
      </div>
    </div>
  </section>
{% endblock %}
