
{% extends "_layouts/main" %}
{% set pageTitle = entry.pageTitle is not empty ? entry.pageTitle : entry.title
%}

{% block content %}

<div class="content__grid">
  <div class="content__grid--top">
    <h1 class="heading heading--h1">
      {{ pageTitle }}
    </h1>
  </div>
</div>

{% endblock %}

