<div class="">
    <label for="search" class="heading--2 heading no-border">
        Suche
    </label>
    <div class="">
        <input sprig s-trigger="keyup changed delay:300ms" id="search" name="search" value="{{ search }}" type="text" placeholder="Suchbegriff..." class="form-input input">
    </div>
    <div class="filter__hint">
      <p class="filter__hint--text">Resulate werden unterhalb des Filters angezeigt.</p>
      <button class="btn filter__btn--results anchor-link" href="#tvboard">Resulate anzeigen</button>
    </div>
</div>
