{% extends '_layouts/main' %}

{% block content %}
  <div class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        {% include '_components/breadcrumb.twig' %}
      </div>
    </div>
  </div>

  <section class="grid">
    <div class="row">
      {% include [
        '/_pages/blog/_types/' ~ entry.type,
        '/_pages/blog/_types/default'
      ] %}
    </div>
  </section>
{% endblock %}
