{% extends '_layouts/main' %}
{% set pageTitle = entry.pageTitle is not empty ? entry.pageTitle : entry.title %}



{% block content %}
  <div class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        {% include '_components/breadcrumb.twig' %}
        <h2 class="heading heading--h2 heading--site heading--no-margin-top">
          {{ pageTitle }}
        </h2>
      </div>
    </div>
  </div>

  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        {# {% include '_pages/blog/_include/catnav.twig' %} #}

        {{ sprig(
          'sprig/components/filters/_components/blog',
          {},
          {
            id: 'blogfilters'
          }
        ) }}
      </div>
    </div>
  </section>
{% endblock %}
