{% set classDev = devMode ? 'dev' : '' %}
{% set cart = craft.commerce.carts.cart %}

<!DOCTYPE HTML>
<html lang="{{ currentSite.language }}">
  <head>
    {% include '_layouts/_includes/head' %}
  </head>
  <body class="{{ classDev }} {% if bodyClass is defined %}page--{{ bodyClass }}{% endif %}">
    {# {% include '_layouts/_includes/grid-overlay.twig' %} #}
    {% block layout %}

    {% endblock %}

    {% include '_layouts/_includes/scripts' %}
  </body>
</html>
