{% set classDev = devMode ? 'dev' : '' %}
<!DOCTYPE HTML>
<html lang="{{ currentSite.language }}">
  <head>
    {% include '_layouts/_includes/head' %}
  </head>
  <body class="{{ classDev }}">
    {% block layout %}

    {% endblock %}

    {% include '_layouts/_includes/scripts' %}
  </body>
</html>
