{% extends '_layouts/base' %}

{% block layout %}
  {% include '_layouts/_includes/header' %}

  <main role="main">
    {% block content %}
    {% endblock %}
  </main>

  {% include '_layouts/_includes/footer' %}
{% endblock %}
