{% extends '_layouts/base' %}

{% block layout %}
  {% include '_layouts/_includes/header' %}
  {% if craft.app.request.isMobileBrowser() %}
    <div class="mobile-nav">
      {% include '_components/_nav/_nav-main/nav-main-phone' %}
    </div>
  {% endif %}

  <main role="main">
    <div class="content">
      {% block content %}
        hallo
      {% endblock %}
    </div>
  </main>

  {% include '_layouts/_includes/footer' %}
{% endblock %}
