{% set contentPaddingClass = entry.mainImage is defined
  and entry.mainImage is not empty
  ? 'content--has-image'
  : ''
%}

{% extends '_layouts/base' %}

{% block layout %}
  {% include '_layouts/_includes/header' %}
  <div class="mobile-nav">
    {% include '_components/_nav/_nav-main/nav-main-phone' %}
  </div>

  <main role="main" class="main">
    <div class="content {{ contentPaddingClass }}">
      {% if entry.mainImage is defined and entry.mainImage is not empty %}
        {% include '_components/_main-image/main-image' %}
      {% endif %}

      {% include '_layouts/_includes/flash-notices.twig' %}


      {% include 'shop/_includes/nav-checkout' %}
                {# {% include 'shop/_includes/nav-main' %} #}
      {% block content %}

      {% endblock %}
    </div>
  </main>

  {% include '_layouts/_includes/footer' %}
  {% include '_layouts/_includes/sprig' %}
{% endblock %}
