{% extends '_layouts/base' %}


{% block layout %}

  <div class="grid gridbase wrapper">
    {% include '_layouts/_includes/header' %}
    {% if craft.app.request.isMobileBrowser() %}
    <div class="mobile-nav">
      {% include '_components/_nav/_nav-main/nav-main-mobile' %}
    </div>
    {% endif %}

    {% if craft.app.request.absoluteUrl != siteUrl %}
    {% include '_layouts/_includes/sidebar' %}
    {% endif %}

    <main role="main" class="main">
      <div class="content">
        {% block content %}

        {% endblock %}
      </div>
    </main>

    {% include '_layouts/_includes/footer' %}
  </div>
{% endblock %}
