{# Import Macros #}
{% import '_helpers/macros.twig' as macros %}

{% set navAboutUs = craft.entries.section('aboutUsStructure').all() %}

{% if navAboutUs is not empty %}
  <ul class="mobile-nav__list mobile-nav__list--hidden">
    {% nav navEntry in navAboutUs %}
    {% set lastUriSegment = navEntry.uri|split('/')|last %}
    <li class="mobile-nav__list-item">
      <a href="{{ navEntry.url }}" class="link">
        <span class="mobile-nav__text {{
          macros.isActive(
            lastUriSegment,
            - 1,
            'mobile-nav__text--'
          )
          }}">
          {{ navEntry.title }}
        </span>
      </a>
      {% ifchildren %}
      <ul class="{{
        navEntry.hasDescendants and navEntry.level == 2
          ? 'nav-main__sublist'
          : 'mobile-nav__list mobile-nav__list--hidden'
        }}">
        {% children %}
      </ul>
      {% endifchildren %}
    </li>

    {% endnav %}
  </ul>
{% endif %}
