{# Overrides the request class (default is `htmx-request`) #}
{% js %}htmx.config.requestClass = 'loading-button__indicator--loading';{% endjs
%}

<div class="loading-button__indicator">
  <div class="loading-button__spinner">
    <svg width="24"
      height="24"
      viewBox="0 0 38 38"
      xmlns="http://www.w3.org/2000/svg"
      stroke="#121">
      <g fill="none" fill-rule="evenodd">
        <g transform="translate(1 1)" stroke-width="2">
          <circle stroke-opacity=".5" cx="18" cy="18" r="18" />
          <path d="M36 18c0-9.94-8.06-18-18-18">
            <animateTransform attributeName="transform"
              type="rotate"
              from="0 18 18"
              to="360 18 18"
              dur="1s"
              repeatCount="indefinite" />
          </path>
        </g>
      </g>
    </svg>
  </div>
  {% if sprig.isRequest %}
    {# <div class="loading-button__check">
      <svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:serif="http://www.serif.com/"
        width="24"
        height="24"
        viewBox="0 0 16 16"
        version="1.1"
        xml:space="preserve"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
        <g transform="matrix(1.99997,0,0,1.99997,-13.994,-2074.68)">
          <g transform="matrix(0.500008,0,0,0.500008,7.05525,1037.42)">
            <circle cx="7.884"
              cy="7.872"
              r="6.778"
              style="fill:rgb(50,198,113);" />
          </g>
          <g transform="matrix(0.0337986,0,0,0.0337986,8.86804,1039.73)">
            <path d="M123.86,12.966L112.78,1.886C111.26,0.365 109.412,-0.395 107.24,-0.395C105.067,-0.395 103.22,0.365 101.699,1.886L48.249,55.416L24.296,31.376C22.775,29.855 20.928,29.095 18.756,29.095C16.583,29.095 14.736,29.855 13.215,31.376L2.135,42.456C0.614,43.977 -0.146,45.824 -0.146,47.997C-0.146,50.169 0.614,52.017 2.135,53.537L42.708,94.11C44.228,95.631 46.075,96.391 48.248,96.391C50.42,96.391 52.268,95.63 53.788,94.11L123.854,24.044C125.374,22.523 126.135,20.676 126.135,18.503C126.135,16.331 125.374,14.483 123.854,12.963"
              style="fill:white;fill-rule:nonzero;" />
          </g>
        </g>
      </svg>
    </div> #}
  {% endif %}
</div>
