{% set img = product.articleImage is defined
  and product.articleImage is not empty
  ? product.articleImage.one()
  : null
%}
{% set imageUrl = img ? img.url('productDetail') : '' %}
{% set imageStandardAltText = img
  and img.imageAltText is defined
  and img.imageAltText is not empty
  ? img.imageAltText
  : ''
%}
{% set imageAltText = imageAltText is defined and imageAltText is not empty
  ? imageAltText
  : imageStandardAltText
%}
{% set imageStandardCaption = img
  and img.imageCaption is defined
  and img.imageCaption is not empty
  ? img.imageCaption
  : ''
%}
{% set imageCaption = imageCaption is defined and imageCaption is not empty
  ? imageCaption
  : imageStandardCaption
%}
{% if imageUrl %}
  <figure class="image">
    <div class="image__wrapper">
      <img class="image__img" src="{{ imageUrl }}" alt="{{ imageAltText }}" />
    </div>
    {% if imageCaption %}
      <figcaption class="image__caption">
        {{ imageCaption }}
      </figcaption>
    {% endif %}
  </figure>
{% endif %}
