<footer class="footer">
    <h2 class="visually-hidden">
      Footer
    </h2>

    <div class="footer--box footer--contact">
      <h2 class="footer--heading">Kontakt</h2>
    </div>
    <div class="footer--box footer--aboutus">
      <h2 class="footer--heading">Uber uns</h2>
    </div>
    <div class="footer--box footer--info">
      <h2 class="footer--heading">Info</h2>
    </div>
    <div class="footer--box footer--openinghours">
      <h2 class="footer--heading">Öffnungszeiten</h2>
    </div>
</footer>
