{% set headerBackground = entry.mainImage is defined
  and entry.mainImage is not empty
  ? 'header__background--with-image'
  : '' %}

<header class="header">
  <div class="header__background {{ headerBackground }}"></div>

  <div class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <div class="header__content-mobile">
          <a class="header__logo-link" href="/">
            <span class="header__logo-line">Terra</span>
            <img class="header__logo-mobile"
                 src="{{ alias(
                   '@rootUrl'
                 ) }}/assets/images/logo/TerraVerde_Logo05-mobile.png"
                 alt="Terra Verde Logo"
            />
            <span class="header__logo-line">Verde</span>
          </a>

          <div class="circle--bio">
            <span class="circle--bio-word">Bio</span>
          </div>

          {% include '_components/_nav/_nav-shop/nav-shop-mobile' %}

          <div class="header__menu-button-wrapper">
            <button class="header__menu-button-mobile" type="button">
              <span class="header__menu-button-text">
                {{ 'nav.mainNavigation.menutext'|t }}
              </span>
              <div class="header__menu-button-mobile-line-wrapper">
                <span class="header__menu-button-mobile-line header__menu-button-mobile-line--first">

                </span>
                <span class="header__menu-button-mobile-line header__menu-button-mobile-line--second">

                </span>
                <span class="header__menu-button-mobile-line header__menu-button-mobile-line--third">

                </span>
              </div>
            </button>
          </div>
        </div>

        <div class="header__content-desktop">
          <div class="header__top-row">
            <a class="header__logo-link" href="/">
              <span class="header__logo-line">Terra</span>
              <img class="header__logo"
                   src="{{ alias(
                     '@rootUrl'
                   ) }}/assets/images/logo/TerraVerde_Logo05.jpg"
                   alt="Terra Verde Logo"
              />
              <span class="header__logo-line">Verde</span>
            </a>

            <div class="header__top-nav">

              {% include '_components/_nav/_nav-main/nav-main-desktop' %}

              <div class="header__top-nav-logo">
                <div class="circle--bio">
                  <span class="circle--bio-word">Bio</span>
                </div>
              </div>

              {% include '_components/_nav/_nav-service/nav-service-desktop' %}

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>

