<header class="header">
  <div class="header__background"></div>

  <div class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <div class="header__content-mobile">
          <!-- <img class="header__logo-mobile"
            src="{#{
            alias(
              '@rootUrl'
            )
            }#}/assets/images/logo/GastroSocial_LOGO.svg"
            alt="Gastrosocial Logo" /> -->
          <div class="header__menu-button-wrapper">
            <button class="header__menu-button-mobile" type="button">
              <span class="header__menu-button-text">
                {#{ 'nav.mainNavigation.menutext'|t }#}
              </span>
              <div class="header__menu-button-mobile-line-wrapper">
                <span class="header__menu-button-mobile-line header__menu-button-mobile-line--first">

                </span>
                <span class="header__menu-button-mobile-line header__menu-button-mobile-line--second">

                </span>
                <span class="header__menu-button-mobile-line header__menu-button-mobile-line--third">

                </span>
              </div>
            </button>
          </div>
        </div>

        <div class="header__content-desktop">
          <div class="header__top-row">
            <a class="header__logo-link" href="/{{ currentSite.language }}">
              <img class="header__logo"
                src="{{
                alias(
                  '@rootUrl'
                )
                }}/assets/images/logo/TerraVerde_jpg_gross.jpeg"
                alt="Gastrosocial Logo" />
            </a>
            <div class="header__nav-service">
              {% include '_components/_nav/_nav-service/nav-service-desktop' %}
            </div>
          </div>
          <div class="header__bottom-row">
            {% include '_components/_nav/_nav-main/nav-main-desktop' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
