{#
{% set boldKeys = ['attention', 'name', 'businessName'] %}
<!-- Template: {{ _self }}.twig -->
<ul class="address-list">
  {% for key, line in address.addressLines %}
  	<li class="address-list__item">
      {% if key in boldKeys %}
        <strong>{% if key == 'attention' %}Attn:{% endif %}
      {% endif %}
      {{ line }}
      {% if key in boldKeys %}
        </strong>
      {% endif %}
    </li>
  {% endfor %}
</ul>
#}
