{% extends '/_layouts/main' %}

{% set body_class = 'page-404' %}

{% block content %}
  <div class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <h1>Die Seite ist momentan offline.</h1>
      </div>

      <div class="col col-xs-12 col-md-12 col-lg-12">
        <p>Hier gehts zum <a href="/shop">Shop</p>

        <div>
          <h2>Kontakt</h2>
          <p>Tel 044 342 10 00</p>
          <p>info@terra-verde.ch</p>
      </div>
    </div>
  </div>
{% endblock %}
