{% extends '_layouts/main' %}

{% set pageTitle = entry.pageTitle is not empty ? entry.pageTitle : entry.title
%}

{% block content %}
  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <h1 class="heading heading--h1">
          {{ pageTitle }}
        </h1>
      </div>
    </div>
  </section>

  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-3">
        <ul>
          {% for type in craft.commerce.productTypes.allProductTypes %}
            <li><a href="{{ type }}">{{ type.name }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="col col-xs-12 col-md-12 col-lg-9">
        {% include '_layouts/_includes/shop-list.twig' %}
      </div>
    </div>
  </section>
{% endblock %}
