<form action="/store/find" method="get">
  <input type="search"
    name="query"
    id="query"
    class="form-control"
    placeholder="City or Postal Code" />
  <select class="form-control" name="province" id="province">
    <option value="">
      Province
    </option>
    <option value="AB">
      Alberta
    </option>
    <option value="BC">
      British Columbia
    </option>
    <option value="MB">
      Manitoba
    </option>
    <option value="NB">
      New Brunswick
    </option>
    <option value="NL">
      Newfoundland
    </option>
    <option value="NS">
      Nova Scotia
    </option>
    <option value="ON">
      Ontario
    </option>
    <option value="PE">
      PEI
    </option>
    <option value="QC">
      Quebec
    </option>
    <option value="SK">
      Saskatchewan
    </option>
    <option value="NU">
      Nunavut
    </option>
    <option value="YT">
      Yukon
    </option>
  </select>
  <button class="btn btn-primary" type="submit">Search</button>
</form>
