{% extends '_layouts/main' %}
{% set pageTitle = entry.pageTitle is not empty ? entry.pageTitle : entry.title %}
{% import '_helpers/macros.twig' as macros %}

{% set allManufactors =
  craft.entries.section('producersOverview').one() %}

{% block content %}

  <section class="detail-page detail-page__wrapper">

    {% include '_components/breadcrumb.twig' %}

    <div class="detail-page__heading">
      <h1 class="heading heading--h1 detail-page__heading heading--no-margin-top">
        {{ pageTitle }}
      </h1>
    </div>

    {{ include ('./_pages/produkte/_includes/subnav.twig') }}

    {% include '_components/_content-elements/content-elements-loop' with {
      contentElements: entry.contentElements,
      usesGrid: true
    } %}

  </section>
{% endblock %}
