<span class="nav-service__list-item nav-service__list-item-shop">
  <a href="/shop/warenkorb" class="cursor-pointer">
    <span class="nav-service__list-item-cartsize">
      {{
        sprig(
          'sprig/components/cart/_components/cartsize',
          {},
          {
            id: 'cartsizemobile'
          }
        )
      }}
    </span>
    {% include 'shop/_images/cart.svg' %}
  </a>
</span>
