{% extends '_layouts/main' %}

{% block content %}
  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-6">
        <h3 class="heading heading--3">
          Sie haben erfolgreich das Passwort geändert.
        </h3>

        <h4 class="layout-helper__margin-top--xs">
          <a href="/" class="link">Zur Startseite</a>
        </h4>

        <hr class="layout-helper__margin-vertical--xs" />

        <h4>
          <a href="/shop" class="link">Zum Shop</a>
        </h4>
      </div>
    </div>
  </section>
{% endblock %}
