{% block content %}
  <div class="content__detail-header">
    <div class="content__detail-image producers-overview__image">
      {% set transform = transformation|default('imageOneThird') %}
      {% set img = entry.image.one().optimizedimages ?? generic.image.one() %}

      {% if img is defined and img is not empty %}
        {% include '_components/_content-elements/image' with {
          optimizedImages: img,
          transform: transform
        } %}
      {% endif %}
    </div>

    <div class="content__detail-lead producers-overview__lead">
      {{ entry.leadText }}
    </div>
  </div>

  {% include '_components/_content-elements/content-elements-loop' with {
    contentElements: entry.contentElements.level(1),
    usesGrid: false
  } %}
{% endblock %}
