{% set pageTitle = entry.pageTitle is not empty ? entry.pageTitle : entry.title %}

{# <div class="col col-xs-12 col-md-12 col-lg-9 col-lg-shift-2"> #}
<div class="col col-xs-12 col-md-12 col-lg-12">
  {% block content %}
    <div class="content__detail-header">
      <div class="content__detail-image producers-overview__image">
        {% set transform = transformation|default('imageOneThird') %}
        {% set img = entry.image.one() ?? null %}

        {% if img is defined and img is not empty %}
          {% include '_components/_content-elements/image' with {
            img: img,
            transform: transform
          } %}
        {% endif %}
      </div>

      <h1 class="heading heading--h2 content__detail-heading heading--no-margin-top">
        {{ pageTitle }}
      </h1>
      <div class="content__detail-meta">
        <span>{{ entry.author }}</span>, <span>{{ entry.postDate | date("d.m.Y") }}</span>
      </div>

    </div>

    {% include '_components/_content-elements/content-elements-loop' with {
      contentElements: entry.contentElements.level(1),
      usesGrid: true
    } %}
  {% endblock %}
</div>
