{% extends '_layouts/main' %}

{% block content %}
  <section class="grid">
    <div class="row">
      <div class="col col-xs-12 col-md-12 col-lg-12">
        <h3>
          Vielen Dank für Ihre Registrierung!
        </h3>
        <p class="layout-helper__margin-bottom--xxs">
          Wir haben eine E-Mail mit einem Bestätigungslink an folgende Adresse
          gesandt:
        <p>
        <p class="layout-helper__margin-bottom--xxs">
          <strong>{{ craft.app.request.getQueryParam('user') }}</strong>
        </p>
        <p class="layout-helper__margin-bottom--xxs">
            Falls sie keine E-Mail erhalten haben, schauen sie bitte im Spam
            Ordner nach, ansonsten wenden Sie sich bitte per E-Mail an
            <strong><a href="mailto:support@terra-verde.ch">support@terra-verde.ch</a></strong> <br />Vielen Dank.
        </p>
      </div>
    </div>
  </section>
{% endblock %}
