/**
 * Base
 */

//  @font-face {
//   font-family: 'Open Sans Regular';
//   src: url('../fonts/OpenSans-Regular.ttf') format('ttf');
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Open Sans Bold';
//   src: url('../fonts/OpenSans-Bold.ttf') format('ttf');
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Open Sans Semibold';
//   src: url('../fonts/OpenSans-SemiBold.ttf') format('ttf');
//   font-display: swap;
// }
// @font-face {
//   font-family: Frutiger LT W01_55 Roman;
//   src: url('../fonts/0811514e-6660-4043-92c1-23d0b8caaa2f.woff2')
//       format('woff2'),
//     url('../fonts/aeae8cac-ba4d-40d2-bbcf-936f2c7dcfe6.woff') format('woff');
//   font-display: swap;
// }

@font-face {
  font-family: 'Bodoni Reg';
  src: url('../fonts/BodoniFLF-Roman.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Bodoni Bold';
  src: url('../fonts/BodoniFLF-Bold.ttf') format('ttf');
  font-display: swap;
}


html {
  color: $color--text;
  font-size: $font-size--base / 16 * 100%;
  font-family: $font-family--base;
  line-height: $line-height--base;
}

// body {
//   &:not(.focus--active) a:focus,
//   &:not(.focus--active) button:focus,
//   &:not(.focus--active) select:focus,
//   &:not(.focus--active) textarea:focus {
//     background-color: transparent;
//     outline: none;
//   }
// }

[tabindex='-1']:focus {
  outline: 0;
}

figure {
  margin: 0;
}

span {
  font-family: $font-family--base;
}

p {
  margin: px-to-rem($space--m) 0;
  font-weight: $font-weight--light;
  line-height: $line-height--l;
}

mark {
  background-color: $color--primary;
  color: $color--white;
  padding: 0 px-to-rem($space--s);
}

b,
strong {
  font-family: $font-family--bold;
  font-weight: $font-weight--bold;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

sub,
sup {
  font-size: 62%;
}
